# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
import numpy as np
import pandas as pd
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse('E:\Data Science\Assignments\data_wrangling_xml\data\mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':',)
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
document = ET.parse( 'E:\Data Science\Assignments\data_wrangling_xml\data\mondial_database.xml' )

# 1. 10 countries with the lowest infant mortality rates

In [6]:
# root is an instance of Element class
root = document.getroot()
root

In [7]:
# Create an empty dictionary lim
lim = {}
# Loop through each subelement in element country
for el in document.iter('country'):
    # Get the name of each country
    cntry = el.find('name')
    # Get the infant_mortality of each country
    inf = el.find('infant_mortality')
    # If 'country name' and 'infant_mortality' is not null, then fill the dictionary 'lim'
    if cntry is not None:
        if inf is not None:
            # Create a key value pair and fill the dictionary 
            lim[cntry.text] = float(inf.text)

In [8]:
lim

{'Afghanistan': 117.23,
 'Albania': 13.19,
 'Algeria': 21.76,
 'American Samoa': 8.92,
 'Andorra': 3.69,
 'Angola': 79.99,
 'Anguilla': 3.4,
 'Antigua and Barbuda': 13.29,
 'Argentina': 9.96,
 'Armenia': 13.97,
 'Aruba': 11.74,
 'Australia': 4.43,
 'Austria': 4.16,
 'Azerbaijan': 26.67,
 'Bahamas': 12.5,
 'Bahrain': 9.68,
 'Bangladesh': 45.67,
 'Barbados': 10.93,
 'Belarus': 3.64,
 'Belgium': 4.18,
 'Belize': 20.31,
 'Benin': 57.09,
 'Bermuda': 2.48,
 'Bhutan': 37.89,
 'Bolivia': 38.61,
 'Bosnia and Herzegovina': 5.84,
 'Botswana': 9.38,
 'Brazil': 19.21,
 'British Virgin Islands': 13.45,
 'Brunei': 10.48,
 'Bulgaria': 15.08,
 'Burkina Faso': 76.8,
 'Burundi': 63.44,
 'Cambodia': 51.36,
 'Cameroon': 55.1,
 'Canada': 4.71,
 'Cape Verde': 24.28,
 'Cayman Islands': 6.21,
 'Central African Republic': 92.86,
 'Chad': 90.3,
 'Chile': 7.02,
 'China': 14.79,
 'Colombia': 15.02,
 'Comoros': 65.31,
 'Congo': 59.34,
 'Cook Islands': 14.33,
 'Costa Rica': 8.7,
 'Cote dIvoire': 60.16,
 'Croatia': 5.87,
 'Cuba': 4.7,
 'Cyprus': 8.54,
 'Czech Republic': 2.63,
 'Denmark': 4.1,
 'Djibouti': 50.2,
 'Dominica': 11.61,
 'Dominican Republic': 19.63,
 'Ecuador': 17.93,
 'Egypt': 22.41,
 'El Salvador': 18.44,
 'Equatorial Guinea': 71.12,
 'Eritrea': 38.44,
 'Estonia': 6.7,
 'Ethiopia': 55.77,
 'Faroe Islands': 5.71,
 'Fiji': 10.2,
 'Finland': 3.36,
 'France': 3.31,
 'French Guiana': 14.6,
 'French Polynesia': 4.78,
 'Gabon': 47.03,
 'Gambia': 65.74,
 'Gaza Strip': 30.6,
 'Georgia': 16.68,
 'Germany': 3.46,
 'Ghana': 38.52,
 'Gibraltar': 6.29,
 'Greece': 4.78,
 'Greenland': 9.42,
 'Grenada': 10.5,
 'Guadeloupe': 8.3,
 'Guam': 5.51,
 'Guatemala': 23.51,
 'Guernsey': 3.47,
 'Guinea': 55.24,
 'Guinea-Bissau': 90.92,
 'Guyana': 33.56,
 'Haiti': 49.43,
 'Honduras': 18.72,
 'Hong Kong': 2.73,
 'Hungary': 5.09,
 'Iceland': 3.15,
 'India': 43.19,
 'Indonesia': 25.16,
 'Iran': 39.0,
 'Iraq': 37.53,
 'Ireland': 3.74,
 'Isle of Man': 4.17,
 'Israel': 3.98,
 'Italy': 3.31,
 'Jamaica': 13.69,
 'Japan': 2.13,
 'Jersey': 3.86,
 'Jordan': 15.73,
 'Kazakhstan': 21.61,
 'Kenya': 40.71,
 'Kiribati': 35.37,
 'Kuwait': 7.51,
 'Kyrgyzstan': 28.71,
 'Laos': 54.53,
 'Latvia': 7.91,
 'Lebanon': 7.98,
 'Lesotho': 50.48,
 'Liberia': 69.19,
 'Libya': 11.87,
 'Liechtenstein': 4.33,
 'Lithuania': 6.0,
 'Luxembourg': 4.28,
 'Macao': 3.13,
 'Macedonia': 7.9,
 'Madagascar': 44.88,
 'Malawi': 48.01,
 'Malaysia': 13.69,
 'Maldives': 24.59,
 'Mali': 104.34,
 'Malta': 3.59,
 'Marshall Islands': 21.39,
 'Martinique': 7.1,
 'Mauritania': 56.06,
 'Mauritius': 10.59,
 'Mayotte': 56.29,
 'Mexico': 12.58,
 'Micronesia': 21.93,
 'Moldova': 12.93,
 'Monaco': 1.81,
 'Mongolia': 23.15,
 'Montserrat': 13.66,
 'Morocco': 24.52,
 'Mozambique': 72.42,
 'Myanmar': 44.91,
 'Namibia': 45.64,
 'Nauru': 8.21,
 'Nepal': 40.43,
 'Netherlands': 3.66,
 'New Caledonia': 5.46,
 'New Zealand': 4.59,
 'Nicaragua': 20.36,
 'Niger': 86.27,
 'Nigeria': 74.09,
 'North Korea': 24.5,
 'Northern Mariana Islands': 5.5,
 'Norway': 2.48,
 'Oman': 14.0,
 'Pakistan': 57.48,
 'Palau': 11.46,
 'Panama': 10.7,
 'Papua New Guinea': 39.67,
 'Paraguay': 20.75,
 'Peru': 20.21,
 'Philippines': 17.64,
 'Poland': 6.19,
 'Portugal': 4.48,
 'Puerto Rico': 7.73,
 'Qatar': 6.42,
 'Reunion': 7.5,
 'Romania': 10.16,
 'Russia': 7.08,
 'Rwanda': 59.59,
 'Saint Helena': 17.63,
 'Saint Kitts and Nevis': 8.98,
 'Saint Lucia': 11.75,
 'Saint Pierre and Miquelon': 6.95,
 'Saint Vincent and the Grenadines': 13.07,
 'Samoa': 20.5,
 'San Marino': 4.52,
 'Sao Tome and Principe': 49.16,
 'Saudi Arabia': 14.58,
 'Senegal': 52.72,
 'Serbia': 6.16,
 'Seychelles': 10.77,
 'Sierra Leone': 73.29,
 'Singapore': 2.53,
 'Sint Maarten': 9.05,
 'Slovakia': 5.35,
 'Slovenia': 4.04,
 'Solomon Islands': 16.17,
 'Somalia': 100.14,
 'South Africa': 41.61,
 'South Korea': 3.93,
 'South Sudan': 68.16,
 'Spain': 3.33,
 'Sri Lanka': 9.02,
 'Sudan': 52.86,
 'Suriname': 27.07,
 'Swaziland': 54.82,
 'Sweden': 2.6,
 'Switzerland': 3.73,
 'Syria': 15.79,
 'Taiwan': 4.49,
 'Tajikistan': 35.03,
 'Tanzania': 43.74,
 'Thailand': 9.86,
 'Timor-Leste': 38.79,
 'Togo': 46.73,
 'Tonga': 12.36,
 'Trinidad and Tobago': 24.82,
 'Tunisia': 23.19,
 'Turkey': 21.43,
 'Turkmenistan': 38.13,
 'Turks and Caicos Islands': 10.97,
 'Tuvalu': 31.69,
 'Uganda': 60.82,
 'Ukraine': 8.1,
 'United Arab Emirates': 10.92,
 'United Kingdom': 4.44,
 'United States': 6.17,
 'Uruguay': 8.97,
 'Uzbekistan': 19.84,
 'Vanuatu': 16.41,
 'Venezuela': 19.33,
 'Vietnam': 18.99,
 'Virgin Islands': 6.79,
 'Wallis and Futuna': 4.49,
 'West Bank': 28.6,
 'Western Sahara': 145.82,
 'Yemen': 50.41,
 'Zaire': 73.15,
 'Zambia': 66.62,
 'Zimbabwe': 26.55}

In [9]:
# Create a DataFrame (infdf) from the dictionary (lim)
infdf = pd.DataFrame(list(lim.items()), columns=['Country', 'Infant_Mortality'])

In [10]:
infdf.head()

     Country  Infant_Mortality
0    Albania             13.19
1     Greece              4.78
2  Macedonia              7.90
3     Serbia              6.16
4    Andorra              3.69

In [11]:
# Sort the countries with lowest infant mortality rates and display the first 'ten' in the list
infdf = infdf.sort_values('Infant_Mortality').head(10)
infdf

            Country  Infant_Mortality
36           Monaco              1.81
90            Japan              2.13
109         Bermuda              2.48
34           Norway              2.48
98        Singapore              2.53
35           Sweden              2.60
8    Czech Republic              2.63
72        Hong Kong              2.73
73            Macao              3.13
39          Iceland              3.15

# 2. 10 cities with the largest population

In [12]:
# Looking carefully at the XML Document tree, one can notice that some cities are subelements to the subelement province.
# To retrieve those cities and population I defined the XML path "./country/province/city"
#Create a dictionary 'provdict'
provdict = {}
for cty in document.findall("./country/province/city"):
    # Retreive all the names of the cities, and corresponding population figures
    name = cty.find('name')
    pop = cty.findall('population')
    if pop:
        # To retrieve the most recent year's population
        provdict[name.text] = int(pop[len(pop)-1].text)

In [13]:
provdict

{'Kavala': 58790,
 'Athina': 664046,
 'Peiraias': 163688,
 'Peristeri': 139981,
 'Acharnes': 106943,
 'Patra': 213984,
 'Kerkyra': 102071,
 'Ioannina': 112486,
 'Thessaloniki': 325182,
 'Iraklio': 173993,
 'Chania': 108642,
 'Rhodes': 115490,
 'Lamia': 75315,
 'Chalkida': 102223,
 'Larissa': 162591,
 'Volos': 144449,
 'Karyes': 233,
 'Strasbourg': 272222,
 'Mulhouse': 110351,
 'Bordeaux': 239399,
 'Clermont-Ferrand': 140957,
 'Caen': 108793,
 'Rennes': 208033,
 'Brest': 309764,
 'Dijon': 151672,
 'Orléans': 114185,
 'Tours': 134633,
 'Reims': 180752,
 'Ajaccio': 66245,
 'Besançon': 115879,
 'Rouen': 111553,
 'Le Havre': 174156,
 'Paris': 2249975,
 'Boulogne-Billancourt': 116220,
 'Argenteuil': 104282,
 'Montreuil': 103068,
 'Saint-Paul': 103916,
 'Montpellier': 264538,
 'Nîmes': 144940,
 'Perpignan': 118238,
 'Limoges': 137758,
 'Metz': 119962,
 'Nancy': 105382,
 'Toulouse': 447340,
 'Lille': 227533,
 'Nantes': 287845,
 'Angers': 148803,
 'Le Mans': 143240,
 'Amiens': 133327,
 'Poitiers': 87646,
 'Marseille': 850636,
 'Nice': 344064,
 'Toulon': 163974,
 'Aix-en-Provence': 140684,
 'Lyon': 491268,
 'Grenoble': 157424,
 'Saint-Étienne': 170049,
 'Villeurbanne': 145034,
 'Sevilla': 698042,
 'Almería': 189680,
 'Cádiz': 124014,
 'Córdoba': 1267774,
 'Granada': 241003,
 'Huelva': 147808,
 'Málaga': 561435,
 'Jerez de la Frontera': 211784,
 'Jaén': 116469,
 'Algeciras': 117695,
 'Marbella': 135124,
 'Dos Hermanas': 128433,
 'Zaragoza': 678115,
 'Oviedo': 225005,
 'Gijón': 276969,
 'Palma de Mallorca': 402044,
 'Vitoria-Gasteiz': 240753,
 'Bilbao': 351356,
 'Barakaldo': 100064,
 'Donostia': 185512,
 'Santa Cruz de Tenerife': 204476,
 'San Cristóbal de La Laguna': 152025,
 'Las Palmas de Gran Canaria': 381271,
 'Telde': 101080,
 'Santander': 178095,
 'Valladolid': 311682,
 'Burgos': 178864,
 'León': 1238962,
 'Salamanca': 160169,
 'Albacete': 171999,
 'Barcelona': 410643,
 'Lleida': 137283,
 'Tarragona': 133223,
 'Reus': 106849,
 'Hospitalet de Llobregat': 256509,
 'Badalona': 219241,
 'Sabadell': 206949,
 'Terrassa': 214406,
 'Santa Coloma de Gramenet': 119391,
 'Mataró': 123367,
 'Badajoz': 151214,
 'A Coruña': 245053,
 'Vigo': 295623,
 'Ourense': 107314,
 'Madrid': 3198645,
 'Móstoles': 203493,
 'Leganés': 185758,
 'Alcalá de Henares': 200505,
 'Fuenlabrada': 196986,
 'Getafe': 168642,
 'Alcorcón': 167217,
 'Torrejón de Ardoz': 123213,
 'Parla': 122045,
 'Alcobendas': 110351,
 'Murcia': 437667,
 'Cartagena': 990179,
 'Pamplona': 195943,
 'Logroño': 152698,
 'Valencia': 832229,
 'Alicante': 329325,
 'Elche': 227417,
 'Castellón de la Plana': 176298,
 'Eisenstadt': 13485,
 'Klagenfurt': 96531,
 'Villach': 59942,
 'Wien': 1761738,
 'Linz': 193511,
 'Wels': 59239,
 'Innsbruck': 124386,
 'Graz': 269211,
 'Salzburg': 146676,
 'St. Pölten': 52100,
 'Praha': 1289556,
 'České Budějovice': 95589,
 'Brno': 404820,
 'Karlovy Vary': 53310,
 'Jihlava': 51162,
 'Hradec Králové': 95594,
 'Liberec': 104973,
 'Ostrava': 311508,
 'Olomouc': 101954,
 'Pardubice': 90844,
 'Plzeň': 171346,
 'Ústí nad Labem': 98596,
 'Zlín': 77137,
 'Stuttgart': 585890,
 'Mannheim': 290117,
 'Karlsruhe': 289173,
 'Freiburg': 209628,
 'Heidelberg': 146751,
 'Heilbronn': 116059,
 'Pforzheim': 114411,
 'Ulm': 116761,
 'Reutlingen': 109799,
 'München': 1348335,
 'Nürnberg': 486314,
 'Augsburg': 267767,
 'Würzburg': 124297,
 'Regensburg': 135403,
 'Ingolstadt': 124927,
 'Fürth': 115613,
 'Erlangen': 103719,
 'Berlin': 3292365,
 'Potsdam': 156021,
 'Cottbus': 99984,
 'Bremen': 542707,
 'Bremerhaven': 108156,
 'Hamburg': 1706696,
 'Wiesbaden': 269121,
 'Frankfurt am Main': 667925,
 'Kassel': 190765,
 'Darmstadt': 143499,
 'Offenbach am Main': 113443,
 'Schwerin': 91293,
 'Rostock': 200265,
 'Hannover': 506416,
 'Braunschweig': 242537,
 'Osnabrück': 153699,
 'Oldenburg': 157267,
 'Göttingen': 115843,
 'Wolfsburg': 119984,
 'Salzgitter': 98895,
 'Hildesheim': 99554,
 'Düsseldorf': 586291,
 'Köln': 1005775,
 'Essen': 566201,
 'Dortmund': 571143,
 'Duisburg': 488468,
 'Bochum': 362286,
 'Wuppertal': 342661,
 'Bielefeld': 326870,
 'Gelsenkirchen': 258766,
 'Bonn': 305765,
 'Mönchengladbach': 255188,
 'Münster': 289576,
 'Krefeld': 222247,
 'Aachen': 236420,
 'Oberhausen': 210216,
 'Hagen': 187944,
 'Hamm': 176037,
 'Herne': 155160,
 'Mülheim an der Ruhr': 166865,
 'Solingen': 155265,
 'Leverkusen': 158984,
 'Neuss': 150568,
 'Paderborn': 142365,
 'Recklinghausen': 115958,
 'Remscheid': 110708,
 'Bottrop': 117311,
 'Siegen': 99187,
 'Moers': 104009,
 'Witten': 96382,
 'Bergisch Gladbach': 108878,
 'Mainz': 200344,
 'Ludwigshafen': 157584,
 'Koblenz': 107825,
 'Kaiserslautern': 96340,
 'Trier': 105671,
 'Saarbrücken': 175853,
 'Dresden': 512354,
 'Leipzig': 502979,
 'Chemnitz': 240253,
 'Zwickau': 93081,
 'Magdeburg': 228144,
 'Halle': 229153,
 'Kiel': 235782,
 'Lübeck': 210305,
 'Erfurt': 200868,
 'Gera': 96067,
 'Jena': 105739,
 'Pécs': 156049,
 'Kecskemét': 111411,
 'Békéscsaba': 62050,
 'Miskolc': 167754,
 'Szeged': 168048,
 'Székesfehérvár': 100570,
 'Győr': 129527,
 'Debrecen': 211320,
 'Eger': 56569,
 'Tatabánya': 67753,
 'Kaposvár': 66245,
 'Nyíregyháza': 119746,
 'Szolnok': 72953,
 'Szombathely': 78884,
 'Veszprém': 61721,
 'Zalaegerszeg': 59499,
 'Budapest': 1729040,
 'Novara': 101952,
 'Torino': 872367,
 'Bérgamo': 115349,
 'Bréscia': 189902,
 'Milano': 1242123,
 'Monza': 119856,
 'Bolzano': 102575,
 'Trento': 114198,
 'Pádova': 206192,
 'Verona': 252520,
 'Vicenza': 111500,
 'Venézia': 261362,
 'Trieste': 202123,
 'La Spezia': 92659,
 'Génova': 586180,
 'Bologna': 371337,
 'Ferrara': 132545,
 'Forlí': 116434,
 'Módena': 179149,
 'Parma': 175895,
 'Piacenza': 100311,
 'Ravenna': 153740,
 "Réggio nell'Emilia": 162082,
 'Rímini': 139601,
 'Livorno': 157052,
 'Pisa': 85858,
 'Firenze': 358079,
 'Prato': 185456,
 'Perúgia': 162449,
 'Terni': 109193,
 'Ancona': 100497,
 'Roma': 2617175,
 'Latina': 117892,
 'Pescara': 117166,
 'Salerno': 132608,
 'Nápoli': 962003,
 'Torre del Greco': 85922,
 'Giugliano in Campania': 108793,
 'Bari': 315933,
 'Fóggia': 147036,
 'Lecce': 89916,
 'Andria': 100052,
 'Táranto': 200154,
 'Catanzaro': 89364,
 'Cosenza': 69484,
 'Réggio di Calabria': 180817,
 'Palermo': 657561,
 'Messina': 243262,
 'Catánia': 293902,
 'Siracusa': 118385,
 'Cágliari': 149883,
 'Sássari': 123782,
 'Bratislava': 411228,
 'Banská Bystrica': 80003,
 'Žilina': 81494,
 'Košice': 240433,
 'Prešov': 91782,
 'Nitra': 78916,
 'Trenčín': 55877,
 'Trnava': 66358,
 'Basel': 167386,
 'Bern': 128848,
 'Biel': 53031,
 'Genève': 191557,
 'Luzern': 80501,
 'Sankt Gallen': 74581,
 'Lugano': 62792,
 'Lausanne': 132788,
 'Zürich': 384786,
 'Winterthur': 105676,
 'Vitebsk': 347928,
 'Gomel': 482652,
 'Grodno': 327540,
 'Mogilev': 358279,
 'Bobruysk': 215092,
 'Minsk': 1836808,
 'Wrocław': 631377,
 'Legnica': 102708,
 'Wałbrzych': 119216,
 'Bydgoszcz': 362286,
 'Toruń': 204847,
 'Grudziadz': 98726,
 'Włocławek': 115982,
 'Lublin': 348120,
 'Zielona Góra': 119182,
 'Gorzów Wielkopolski': 124470,
 'Łódź': 722022,
 'Kraków': 759131,
 'Tarnów': 113188,
 'Warszawa': 1711324,
 'Płock': 124048,
 'Radom': 220062,
 'Opole': 122120,
 'Rzeszów': 180776,
 'Białystok': 294675,
 'Gdańsk': 460354,
 'Gdynia': 248574,
 'Katowice': 308269,
 'Jastrzebie Zdroj': 92465,
 'Sosnowiec': 214488,
 'Dąbrowa Górnicza': 125063,
 'Bytom': 175377,
 'Gliwice': 186347,
 'Zabrze': 179861,
 'Tychy': 129087,
 'Ruda Śląska': 142672,
 'Rybnik': 140863,
 'Chorzów': 111314,
 'Częstochowa': 235156,
 'Bielsko-Biała': 174291,
 'Kielce': 201363,
 'Olsztyn': 175482,
 'Elbląg': 123977,
 'Poznań': 552393,
 'Kalisz': 104867,
 'Szczecin': 409211,
 'Koszalin': 109183,
 'Cherkasy': 286163,
 'Chernihiv': 296723,
 'Chernivtsi': 255929,
 'Dnipropetrovs´k': 999577,
 'Kryvyi Rih': 660203,
 'Dniprodzerzhyns´k': 242646,
 'Nikopol´': 120000,
 'Donets´k': 955041,
 'Mariupol´': 464457,
 'Makiïvka': 356118,
 'Horlivka': 258879,
 'Kramators´k': 165469,
 'Ivano-Frankivs´k': 224660,
 'Kharkiv': 1441362,
 'Kherson': 300666,
 'Khmel´nyts´kyi': 263703,
 'Prypjat': 0,
 'Kirovohrad': 234919,
 'Luhans´k': 427187,
 'L´viv': 729842,
 'Mykolaïv': 497032,
 'Odesa': 1008162,
 'Poltava': 297589,
 'Kremenchuk': 226434,
 'Rivne': 250174,
 'Sumy': 269663,
 'Ternopil´': 217300,
 'Vinnytsia': 370814,
 'Luts´k': 213063,
 'Uzhhorod': 116556,
 'Zaporizhzhia': 772627,
 'Melitopol´': 156885,
 'Zhytomyr': 271895,
 'Simferopol´': 335582,
 'Kerch': 145845,
 'Kyïv': 2814258,
 'Bila Tserkva': 210551,
 'Sevastopol´': 340559,
 'Petrozavodsk': 268946,
 'Syktyvkar': 235006,
 'Ukhta': 99591,
 'Vorkuta': 70548,
 'Arkhangelsk': 350985,
 'Severodvinsk': 192353,
 'Vologda': 306487,
 'Cherepovets': 315738,
 'Murmansk': 302468,
 'Kaliningrad': 441376,
 'Sankt Peterburg': 5028000,
 'Velikij Novgorod': 218717,
 'Pskov': 203279,
 'Bryansk': 410837,
 'Vladimir': 347930,
 'Kovrov': 145214,
 'Murom': 116075,
 'Ivanovo': 409075,
 'Kaluga': 331351,
 'Obninsk': 104739,
 'Kostroma': 271445,
 'Moskva': 11979529,
 "Podol'sk": 187961,
 'Železnodorožnyj': 131257,
 'Krasnogorsk': 116896,
 "L'ubercy": 172525,
 'Kolomna': 144589,
 'Mytišči': 173160,
 "Elektrostal'": 155196,
 'Serpuchov': 127041,
 'Balašicha': 215494,
 'Chimki': 207425,
 'Odincovo': 138930,
 'Orechovo-Zujevo': 120670,
 'Noginsk': 100072,
 'Ščëlkovo': 110411,
 'Sergijev Posad': 111179,
 'Korolëv': 183402,
 'Žukovskij': 104736,
 'Puškino': 102874,
 'Orel': 318136,
 'Ryazan': 527905,
 'Smolensk': 330970,
 'Tver': 408877,
 'Tula': 493813,
 'Novomoskovsk': 131386,
 'Yaroslavl': 599169,
 'Rybinsk': 200771,
 'Yoshkar-Ola': 257015,
 'Saransk': 298287,
 'Cheboksary': 464940,
 'Novočeboksarsk': 124097,
 'Kirov': 483176,
 'Nizhnii Novgorod': 1259921,
 'Dzeržinsk': 240742,
 'Arzamas': 106362,
 'Belgorod': 373528,
 'Staryj Oskol': 221085,
 'Voronezh': 1003638,
 'Kursk': 428741,
 'Lipetsk': 509098,
 'Jelec': 108404,
 'Tambov': 281834,
 'Elista': 103749,
 'Kazan': 1176187,
 'Naberezhnye Tchelny': 519025,
 'Nižnekamsk': 234044,
 "Al'metjevsk": 146393,
 'Astrakhan': 527345,
 'Volgograd': 1018790,
 'Volzhsky': 327356,
 'Kamyšin': 119565,
 'Penza': 519900,
 'Samara': 1171598,
 'Tolyatti': 719149,
 "Syzran'": 178750,
 'Novokujbyševsk': 108438,
 'Saratov': 839755,
 'Balakovo': 199690,
 "Ėngel's": 202419,
 'Ulyanovsk': 615306,
 'Dimitrovgrad': 122580,
 'Rostov-na-Donu': 1103733,
 'Batajsk': 111843,
 'Taganrog': 254783,
 'Šachty': 239987,
 'Novočerkassk': 168746,
 'Volgodonsk': 170841,
 'Novošachtinsk': 111075,
 'Ufa': 1077719,
 'Sterlitamak': 275798,
 'Salavat': 156095,
 "Okt'abr'skij": 109474,
 'Izhevsk': 632913,
 'Sarapul': 101381,
 'Orenburg': 556127,
 'Orsk': 239800,
 'Perm': 1013887,
 'Berezniki': 156466,
 'Majkop': 144249,
 'Makhachkala': 576194,
 'Derbent': 119200,
 'Kaspijsk': 100129,
 'Chasavjurt': 131187,
 "Nazran'": 93335,
 "Nal'čik": 240203,
 'Čerkessk': 129069,
 'Vladikavkaz': 308285,
 'Grozny': 277414,
 'Krasnodar': 784048,
 'Sochi': 368011,
 'Novorossiysk': 251013,
 'Armavir': 188832,
 'Stavropol': 412116,
 "P'atigorsk": 142511,
 'Nevinnomyssk': 118360,
 'Kislovodsk': 128553,
 'Jessentuki': 100996,
 'Neftekamsk': 121733,
 'Kurgan': 325565,
 'Yekaterinburg': 1396074,
 'Nizhny Tagil': 358378,
 "Kamensk-Ural'skij": 174689,
 "Pervoural'sk": 124528,
 'Chelyabinsk': 1156201,
 'Magnitogorsk': 411880,
 'Zlatoust': 174962,
 'Miass': 151751,
 'Kopejsk': 137601,
 'Gorno Altaysk': 56933,
 'Barnaul': 629681,
 'Bijsk': 210115,
 'Rubcovsk': 147002,
 'Kemerovo': 540095,
 'Novokuznetsk': 549182,
 'Prokopjevsk': 210130,
 'Novosibirsk': 1523801,
 'Omsk': 1160670,
 'Tomsk': 547989,
 'Seversk': 108590,
 'Tyumen': 634171,
 'Ulan-Ude': 416079,
 'Kyzyl': 109918,
 'Abakan': 165214,
 'Krasnoyarsk': 1016385,
 "Noril'sk": 175365,
 'Ačinsk': 109155,
 'Irkutsk': 606137,
 'Angarsk': 233567,
 'Bratsk': 246319,
 'Chita': 331346,
 'Yakutsk': 286456,
 'Birobidzhan': 75413,
 'Anadyr': 13045,
 'Vladivostok': 600378,
 'Nachodka': 159719,
 'Ussurijsk': 158004,
 'Khabarovsk': 593636,
 'Komsomolsk-na-Amure': 257891,
 'Blagoveščensk': 214390,
 'Petropavlovsk-Kamčatskij': 179780,
 'Magadan': 95982,
 'Okhotsk': 4215,
 'Južno-Sachalinsk': 181728,
 'Khanty Mansijsk': 80151,
 'Surgut': 325511,
 'Nizhnevartovsk': 263228,
 'Neftejugansk': 122855,
 'Salekhard': 42544,
 "Nojabr'sk": 110620,
 'Novyj Urengoj': 104107,
 'Bruxelles': 168576,
 'Schaerbeek': 130587,
 'Molenbeek-Saint-Jean': 94653,
 'Anderlecht': 113462,
 'Antwerpen': 507911,
 'Gent': 248813,
 'Charleroi': 203753,
 'Mons': 93941,
 'Liège': 195931,
 'Hasselt': 75579,
 'Arlon': 28759,
 'Namur': 110500,
 'Brugge': 117577,
 'Leuven': 97692,
 'Groningen': 198023,
 'Leeuwarden': 108145,
 'Enschede': 158494,
 'Zwolle': 123440,
 'Lelystad': 76252,
 'Almere': 196244,
 'Arnhem': 150989,
 'Nijmegen': 168810,
 'Apeldoorn': 157540,
 'Utrecht': 330081,
 'Amersfoort': 151270,
 'Amsterdam': 812895,
 'Haarlem': 155361,
 'Zaanstad': 151058,
 'Hilversum': 86738,
 'Den Haag': 509623,
 'Rotterdam': 619180,
 'Dordrecht': 118780,
 'Leiden': 121387,
 "'s-Hertogenbosch": 143822,
 'Eindhoven': 221279,
 'Tilburg': 210283,
 'Breda': 180263,
 'Maastricht': 122243,
 'Heerlen': 88139,
 'Sittard-Geleen': 93726,
 'Sarajevo': 291422,
 'Tuzla': 120441,
 'Zenica': 115134,
 'Mostar': 113169,
 'Banja Luka': 199191,
 'Bijeljina': 114663,
 'Brčko': 93028,
 'Arad': 159074,
 'Piteşti': 155383,
 'Bacău': 144307,
 'Oradea': 196367,
 'Botoşani': 106847,
 'Brăila': 180302,
 'Braşov': 253200,
 'Bucureşti': 1883425,
 'Buzău': 115494,
 'Cluj-Napoca': 324576,
 'Constanţa': 283872,
 'Craiova': 269506,
 'Galaţi': 249432,
 'Iaşi': 290422,
 'Baia Mare': 123738,
 'Drobeta-Turnu Severin': 92617,
 'Târgu Mureş': 134290,
 'Piatra-Neamţ': 85055,
 'Ploieşti': 209945,
 'Satu Mare': 102411,
 'Sibiu': 147245,
 'Suceava': 92121,
 'Timişoara': 319279,
 'Râmnicu Vâlcea': 98776,
 'Adana': 1636229,
 'Adiyaman': 217463,
 'Afyonkarahisar': 186991,
 'Agri': 107839,
 'Aksaray': 186599,
 'Amasya': 91874,
 'Ankara': 4630735,
 'Antalya': 1073794,
 'Aydin': 195951,
 'Balikesir': 267903,
 'Batman': 348963,
 'Bingol': 98424,
 'Bolu': 131264,
 'Bursa': 1734705,
 'İnegöl': 177617,
 'Canakkale': 111137,
 'Corum': 231146,
 'Denizli': 525497,
 'Diyarbakir': 892713,
 'Edirne': 148474,
 'Elazig': 347857,
 'Erzincan': 96474,
 'Erzurum': 384399,
 'Eskisehir': 659924,
 'Gaziantep': 1438373,
 'Giresun': 100712,
 'Iskenderun': 184833,
 'Hatay': 216960,
 'Mersin': 876958,
 'Tarsus': 245671,
 'Isparta': 198385,
 'Istanbul': 13710512,
 'Izmir': 3401994,
 'Karaman': 141630,
 'Kahramanmaraş': 443575,
 'Kars': 78100,
 'Kastamonu': 96217,
 'Kayseri': 1004276,
 'Kirikkale': 192473,
 'Luleburgaz': 105279,
 'Kirsehir': 114244,
 'Kocaeli': 1527407,
 'Gebze': 290868,
 'Konya': 1107886,
 'Kütahya': 224898,
 'Malatya': 426381,
 'Manisa': 309050,
 'Mardin': 86948,
 'Kızıltepe': 147585,
 'Mus': 81764,
 'Nevsehir': 92068,
 'Nigde': 118186,
 'Ordu': 147913,
 'Rize': 104508,
 'Sakarya': 590498,
 'Samsun': 547778,
 'Şanlıurfa': 526247,
 'Siirt': 135350,
 'Sivas': 312587,
 'Tekirdag': 150112,
 'Çorlu': 235354,
 'Tokat': 132437,
 'Trabzon': 243735,
 'Usak': 187886,
 'Van': 370190,
 'Yozgat': 78328,
 'Zonguldak': 109080,
 'Karabük': 110537,
 'Iğdır': 82656,
 'Yalova': 102874,
 'Kilis': 85119,
 'Duzce': 135557,
 'Osmaniye': 209255,
 'Aalborg': 104885,
 'Århus': 252213,
 'Randers': 61121,
 'Vejle': 51804,
 'Odense': 168798,
 'Esbjerg': 71579,
 'København': 549050,
 'Mariehamn': 10851,
 'Tampere': 220678,
 'Lahti': 103396,
 'Hämeenlinna': 67803,
 'Kuopio': 106475,
 'Lappeenranta': 72617,
 'Kotka': 54714,
 'Rovaniemi': 61244,
 'Mikkeli': 54633,
 'Jyväskylä': 134862,
 'Joensuu': 74332,
 'Oulu': 194181,
 'Pori': 83457,
 'Turku': 182154,
 'Helsinki': 614535,
 'Espoo': 261654,
 'Vaasa': 66415,
 'Oslo': 623966,
 'Sandvika': 116677,
 'Moss': 24517,
 'Hamar': 15685,
 'Lillehammer': 22118,
 'Drammen': 65473,
 'Tonsberg': 8984,
 'Skien': 53015,
 'Arendal': 12174,
 'Kristiansand': 84476,
 'Stavanger': 129191,
 'Bergen': 267950,
 'Hermannsverk': 706,
 'Molde': 21448,
 'Trondheim': 179692,
 'Steinkjer': 20480,
 'Svolvaer': 4500,
 'Narvik': 18754,
 'Bodoe': 34479,
 'Tromsø': 70358,
 'Hammerfest': 7089,
 'Vadsoe': 5961,
 'Göteborg': 526089,
 'Vanersborg': 35804,
 'Mariestad': 24255,
 'Borås': 104867,
 'Karlskrona': 59007,
 'Gävle': 96170,
 'Visby': 20000,
 'Halmstad': 93231,
 'Ostersund': 56662,
 'Jönköping': 129478,
 'Kalmar': 54554,
 'Falun': 51900,
 'Malmö': 307758,
 'Helsingborg': 132011,
 'Kristianstad': 80507,
 'Lund': 112950,
 'Växjö': 84800,
 'Lulea': 66526,
 'Jokkmokk': 6822,
 'Örebro': 138952,
 'Linköping': 148521,
 'Norrköping': 132124,
 'Nykoping': 64199,
 'Eskilstuna': 98765,
 'Stockholm': 881235,
 'Huddinge': 101010,
 'Uppsala': 202625,
 'Karlstad': 86929,
 'Umeå': 117294,
 'Harnosand': 27287,
 'Västerås': 140499,
 'Aveiro': 53496,
 'Braga': 114003,
 'Coimbra': 118016,
 'Leiria': 50608,
 'Lisboa': 559248,
 'Amadora': 89232,
 'Barreiro': 79042,
 'Almada': 49578,
 'Oporto': 266790,
 'Vila Nova de Gaia': 72576,
 'Setúbal': 91108,
 'Ponta Delgada': 46102,
 'Funchal': 112362,
 'Newcastle upon Tyne': 268064,
 'Sunderland': 174286,
 'Gateshead': 120046,
 'Middlesbrough': 174700,
 'Manchester': 109571,
 'Wigan': 103608,
 'Stockport': 105878,
 'Bolton': 194189,
 'Salford': 103886,
 'Oldham': 96555,
 'Rochdale': 107926,
 'Warrington': 165456,
 'Blackpool': 147663,
 'Blackburn': 117963,
 'Liverpool': 552267,
 'Birkenhead': 142968,
 'St Helens': 102885,
 'Preston': 97886,
 'Leeds': 474632,
 'Wakefield': 99251,
 'Bradford': 349561,
 'Huddersfield': 162949,
 'Sheffield': 518090,
 'Doncaster': 109805,
 'Rotherham': 109691,
 'York': 152841,
 'Kingston upon Hull': 284321,
 'Nottingham': 289301,
 'Northampton': 215173,
 'Leicester': 443760,
 'Derby': 255394,
 'Lincoln': 258468,
 'Birmingham': 212193,
 'Coventry': 325949,
 'Wolverhampton': 210319,
 'Solihull': 123187,
 'Stoke-on-Trent': 270726,
 'Worcester': 181041,
 'Sutton Coldfield': 109015,
 'Telford': 142723,
 'Cambridge': 145818,
 'Peterborough': 161707,
 'Ipswich': 144957,
 'Chelmsford': 110507,
 'Watford': 131982,
 'Southend-on-Sea': 175547,
 'Basildon': 107123,
 'Colchester': 119441,
 'Norwich': 186682,
 'Luton': 211228,
 'London': 366151,
 'Southampton': 253651,
 'Portsmouth': 238137,
 'Basingstoke': 107355,
 'Milton Keynes': 171750,
 'High Wycombe': 120256,
 'Brighton and Hove': 229700,
 'Maidstone': 107627,
 'Oxford': 159994,
 'Reading': 218705,
 'Slough': 155298,
 'Eastbourne': 109185,
 'Gillingham': 104157,
 'Crawley': 106943,
 'Worthing': 109120,
 'Woking': 105367,
 'Bristol': 535907,
 'Plymouth': 234982,
 'Exeter': 113507,
 'Bournemouth': 187503,
 'Poole': 154718,
 'Cheltenham': 116447,
 'Gloucester': 136362,
 'Swindon': 182441,
 'Edinburgh': 459366,
 'Glasgow': 590507,
 'Aberdeen': 195021,
 'Dundee': 147285,
 'Kirkwall': 6330,
 'Lerwick': 6570,
 'Cardiff': 335145,
 'Swansea': 179485,
 'Newport': 128060,
 'Belfast': 280561,
 'Hefei': 3310268,
 'Huainan': 1200000,
 'Bengbu': 449245,
 'Wuhu': 425740,
 'Huaibei': 366549,
 'Maanshan': 305421,
 'Anqing': 250718,
 'Tongling': 228017,
 'Fuyang': 179572,
 'Luan': 144248,
 'Chuxian': 125341,
 'Chaoxian': 123676,
 'Xuancheng': 112673,
 'Fuzhou': 3572421,
 'Xiamen': 3531347,
 'Nanping': 195064,
 'Quanzhou': 185154,
 'Zhangzhou': 181424,
 'Sanming': 160691,
 'Longyan': 134481,
 'Yongan': 111762,
 'Lanzhou': 2628426,
 'Tianshui': 244974,
 'Baiyin': 204970,
 'Wuwei': 133101,
 'Yumen': 109234,
 'Guangzhou': 11071424,
 'Shantou': 5329024,
 'Zhanjiang': 400997,
 'Shenzhen': 10358381,
 'Shaoguan': 350043,
 'Chaozhou': 313469,
 'Dongguan': 8220207,
 'Foshan': 7194311,
 'Zhongshan': 3121275,
 'Jiangmen': 230587,
 'Yangjiang': 215196,
 'Zhaoqing': 194784,
 'Maoming': 178683,
 'Zhuhai': 164747,
 'Huizhou': 2344634,
 'Meixian': 132156,
 'Heyuan': 120101,
 'Shanwei': 107847,
 'Guiyang': 3034750,
 'Liupanshui': 363954,
 'Zunyi': 261862,
 'Anshun': 174142,
 'Duyun': 132971,
 'Kaili': 113958,
 'Haikou': 280153,
 'Sanya': 102820,
 'Shijiazhuang': 2834942,
 'Tangshan': 3372102,
 'Handan': 1110000,
 'Zhangjiakou': 529136,
 'Baoding': 483155,
 'Qinhuangdao': 364972,
 'Xingtai': 302789,
 'Chengde': 246799,
 'Renqiu': 114256,
 'Quzhou': 112373,
 'Hengshui': 104269,

In [14]:
# Create DataFrame 'cpdf' from dictionary 'provdict'
cpdf = pd.DataFrame(list(provdict.items()), columns=['City', 'Population'])

In [15]:
#Create a dictionary 'dict'
dict = {}
for city in document.findall("./country/city"):
    # Retreive all the names of the cities, and thier respective population figures
    name = city.find('name')
    pop = city.findall('population')
    if pop:
        # To retrieve the most recent year's population
        dict[name.text] = int(pop[len(pop)-1].text)

In [16]:
dict

{'Abomey-Calavi': 307745,
 'Abu Dhabi': 552000,
 'Aden': 570551,
 'Akureyri': 17490,
 'Al Ain': 348000,
 'Al Fashir': 141884,
 'Al Fayyum': 316772,
 'Al Gazira': 211362,
 'Al Gedaref': 191164,
 'Al Iskandariyah': 4123869,
 "Al Isma'iliyah": 300449,
 'Al Jizah': 2681863,
 'Al Mahallah al Kubra': 442884,
 'Al Mansurah': 437311,
 'Al Manāmah': 143035,
 'Al Minya': 235234,
 'Al Qahirah': 8471859,
 'Al Rayyan': 272860,
 'Al Sharjah': 519000,
 'Al Ubayyiḑ': 229425,
 'Al Uqsur': 451318,
 'Algiers': 2364230,
 'Amman': 1812941,
 'Andorra la Vella': 22256,
 'Anju': 240117,
 'Annaba': 342703,
 'Ansan': 722598,
 'Antananarivo': 710236,
 'Antsirabe': 126062,
 'Antsiranana': 59040,
 'Anyang': 603184,
 'Apia': 36735,
 'Apopa': 143718,
 'As Seeb': 302992,
 'As Suways': 510935,
 'Asmara': 380568,
 'Asunción': 518792,
 'Aswan': 265004,
 'Asyut': 386086,
 'Auckland': 419418,
 'Az Zaqaziq': 302611,
 'Baku': 2150800,
 'Bandar Seri Begawan': 279924,
 'Bangkok': 7506700,
 'Bangui': 622771,
 'Banha': 158389,
 'Bani Suwayf': 193535,
 'Banjul': 357238,
 'Basseterre': 15500,
 'Batna': 289504,
 'Batumi': 121806,
 'Bayamón': 185996,
 'Bayrūt': 1100000,
 'Bejaïa': 176139,
 'Belize City': 53532,
 'Belmopan': 13654,
 'Benghazi': 800000,
 'Beograd': 1639121,
 'Bien Hoa': 652646,
 'Bimbo': 124176,
 'Biratnagar': 204949,
 'Bishkek': 901700,
 'Biskra': 204661,
 'Blantyre': 661256,
 'Blida': 331779,
 'Bo': 149957,
 'Bobo Dioulasso': 489967,
 'Bridgetown': 88529,
 'Bucheon': 847841,
 'Bujumbura': 497166,
 'Bulawayo': 653337,
 'Buon Ma Thuot': 211891,
 "Bur Sa'id": 570768,
 'Burgas': 197301,
 'Busan': 3403135,
 'Béchar': 165241,
 'Bălţi': 143300,
 'Cam Pha': 168196,
 'Can Tho': 783122,
 'Cap-Haïtien': 155505,
 'Carolina': 157832,
 'Carrefour': 430250,
 'Castries': 3661,
 'Cayenne': 57229,
 'Ceuta': 82376,
 'Changhua': 236636,
 'Changwon': 1062731,
 'Charlotte Amalie': 10354,
 'Cheongju': 667726,
 'Chiang Mai': 160200,
 'Chiayi': 271220,
 'Chinandega': 133361,
 'Chitungwiza': 356840,
 'Chişinău': 663400,
 'Chon Buri': 233200,
 'Chongjin': 667929,
 'Christchurch': 361941,
 'Chuncheon': 273737,
 'Cité Soleil': 241055,
 'Ciudad Delgado': 129965,
 'Ciudad de Guatemala': 992541,
 'Ciudad del Este': 222274,
 'Cobán': 232703,
 'Colombo': 647100,
 'Conakry': 1667864,
 'Constantine': 448028,
 'Cork': 118912,
 'Cotonou': 665100,
 'Cuenca': 331888,
 'Da Nang': 770911,
 'Daegu': 2444085,
 'Daejeon': 1495453,
 'Damanhur': 241895,
 'Delmas': 359451,
 'Dili': 193563,
 'Djibouti': 475322,
 'Djougou': 181895,
 'Doha': 339847,
 'Dubai': 1171000,
 'Dublin': 525383,
 'Dunedin': 123516,
 'Durrës': 113249,
 'El Aaiun': 183691,
 'El Djelfa': 265833,
 'Elbasan': 78703,
 'Eldoret': 289380,
 'Estelí': 122924,
 'Fakaofo': 490,
 'Fianarantsoa': 109260,
 'Fort-de-France': 100000,
 'Franceville': 103840,
 'Francistown': 100079,
 'Freetown': 772873,
 'Funafuti': 4492,
 'Gaborone': 227333,
 'Galway': 75414,
 'Ganja': 322600,
 'Gaza': 449477,
 'Georgetown': 118363,
 'Ghardaïa': 142913,
 'Gonaïves': 228725,
 'Goyang': 897174,
 'Granada': 123697,
 'Guayaquil': 2291158,
 'Gunsan': 256755,
 'Gustavia': 2299,
 'Gwangju': 1469293,
 'Ha Long': 201990,
 'Haeju': 273300,
 'Hafnarfjordur': 26099,
 'Haiphong': 846191,
 'Hamhung-Hungnam': 768551,
 'Hamilton': 132060,
 'Hanoi': 2644536,
 'Harare': 1485231,
 'Hebron': 163146,
 'Herat': 335200,
 'Ho Chi Minh': 5968384,
 'Hong Kong': 7055071,
 'Honiara': 49107,
 'Hsinchu': 425071,
 'Hualien': 108077,
 'Hue': 302983,
 'Huichon': 168180,
 'Incheon': 2637652,
 'Irbid': 250645,
 'Jeju': 399416,
 'Jeonju': 643079,
 'Jhongli': 376217,
 'Jinju': 337230,
 'Jinotega': 123548,
 'Juba': 372410,
 'Kabul': 2435400,
 'Kaechon': 319554,
 'Kaesong': 308440,
 'Kafr ad Dawwar': 262748,
 'Kampala': 1516210,
 'Kandahar': 311800,
 'Kanggye': 251971,
 'Kaohsiung': 2778659,
 'Kassala': 234622,
 'Kathmandu': 1003285,
 'Kaunas': 307498,
 'Keelung': 377153,
 'Keflavik': 13862,
 'Khartoum': 947483,
 'Khartoum North': 700887,
 'Khon Kaen': 223300,
 'Kigali': 603049,
 'Kim Chaek': 207299,
 'Kingston': 662426,
 'Kingstown': 12909,
 'Kisumu': 388311,
 'Klaipeda': 158891,
 'Kolonia': 5681,
 'Koror': 11665,
 'Korçë': 51152,
 'Kumanovo': 107745,
 'Kusong': 196515,
 'Kutaisi': 185965,
 'Kuwait': 637411,
 'Laghouat': 134372,
 'Lalitpur': 226728,
 'Larnaka': 51468,
 'Lefkosia': 55014,
 'Lemesos': 101000,
 'León': 201100,
 'Libreville': 538195,
 'Lilongwe': 674448,
 'Limerick': 56779,
 'Ljubljana': 282994,
 'Lomé': 839566,
 'Long Xuyen': 245699,
 'Luxembourg': 99852,
 'Machakos': 150041,
 'Majunga': 106780,
 'Majuro': 27797,
 'Male': 133019,
 'Malindi': 118265,
 'Managua': 1028808,
 'Maribor': 111374,
 'Marigot': 5700,
 'Masaya': 166588,
 'Maseru': 227880,
 'Matagalpa': 150643,
 'Mazar-i-Sharif': 288700,
 'Mbabane': 57992,
 'Mbarara': 195013,
 'Mejicanos': 157188,
 'Melekeok': 391,
 'Melilla': 78476,
 'Misratah': 360000,
 'Mixco': 483705,
 'Mokpo': 244543,
 'Mombasa': 938131,
 'Monaco': 975,
 'Monrovia': 1010970,
 'Montevideo': 1318755,
 'Moroni': 41557,
 'Mostaganem': 162885,
 'Mukono': 161996,
 'Muscat': 27216,
 "N'Djamena": 951418,
 "N'Zérékoré": 194178,
 'Nablus': 126132,
 'Nairobi': 3133518,
 'Nakhon Ratchasima': 254900,
 'Nakhon Sawan': 142500,
 'Nakhon Si Thammarat': 167400,
 'Nakuru': 307990,
 'Nam Dinh': 193768,
 'Nampho': 366815,
 'Nassau': 248948,
 'New Taipei': 3939305,
 'Nha Trang': 292693,
 'Niš': 257867,
 'Nonthaburi': 481900,
 'Novi Sad': 335701,
 'Nukualofa': 23658,
 'Nyala': 227183,
 'Omdurman': 1271403,
 'Oran': 803329,
 'Osh': 265200,
 'Osijek': 83496,
 'Ouagadougou': 1475223,
 'Palikir': 6444,
 'Paramaribo': 240924,
 'Philipsburg': 1338,
 'Phnom Penh': 703963,
 'Phuket': 75573,
 'Pingtung': 207862,
 'Plovdiv': 331796,
 'Plymouth': 0,
 'Podgorica': 150977,
 'Pokhara': 264991,
 'Ponce': 132502,
 'Port Moresby': 318128,
 'Port Sudan': 308195,
 'Port Vila': 44040,
 'Port-Gentil': 105712,
 'Port-au-Prince': 875978,
 'Port-of-Spain': 548299,
 'Porto-Novo': 223552,
 'Praia': 131719,
 'Prishtine': 198214,
 'Pyongyang': 3255288,
 'Pétion-Ville': 271175,
 'Qina': 206831,
 'Qui Nhon': 255463,
 'Quito': 1619146,
 'Rach Gia': 210784,
 'Reykjavik': 118061,
 'Rijeka': 127498,
 'Roseau': 14725,
 'Ruse': 146609,
 'Rīga': 696618,
 "Saint George's": 37000,
 'Saint Johns': 22219,
 'Saint-Denis': 145347,
 'Saint-Pierre': 5618,
 'Salto': 104011,
 'Samut Prakan': 277600,
 'San Juan': 381931,
 'San Marino': 4227,
 'San Miguel': 218410,
 'San Salvador': 354174,
 "Sana'a": 1527861,
 'Santa Ana': 245421,
 'Santa Tecla': 126353,
 'Santiago': 591985,
 'Santo Domingo': 2749703,
 'Santo Domingo de los Colorados': 305632,
 'Saraburi': 125300,
 'Sariwon': 307764,
 'Seongnam': 951424,
 'Seoul': 9708483,
 'Sfax': 299235,
 'Shibin al Kum': 177060,
 'Shkodër': 77075,
 'Shubra al Khimah': 1016722,
 'Sidi Bel Abbës': 210146,
 'Singapore': 5076700,
 'Sinpho': 152759,
 'Sinuiju': 359341,
 'Skikda': 182903,
 'Skopje': 514967,
 'Sofia': 1270284,
 'Sokhumi': 62914,
 'Songkhla': 294200,
 'Sousse': 223844,
 'Soyapango': 268228,
 'Split': 165893,
 'Sri Jayawardhanapura Kotte': 116366,
 'Stara Zagora': 136363,
 'Suhaj': 189638,
 'Sumgayit': 290500,
 'Sunchon': 297317,
 'Suva': 75225,
 'Suwon': 1064951,
 'São Tomé': 49957,
 'Sétif': 252127,
 "Ta'izz": 458933,
 'Taichung': 2684893,
 'Tainan': 1881645,
 'Taipei': 2673226,
 'Taitung': 107720,
 'Tallinn': 399340,
 'Tamanrasset': 92635,
 'Tamatave': 137782,
 'Tanchon': 345875,
 'Tanta': 421076,
 'Taoyuan': 413488,
 'Tarawa': 50182,
 'Tartu': 103284,
 'Tbilisi': 1073345,
 'Thai Nguyen': 199732,
 'Thimphu': 42465,
 'Tipitapa': 130627,
 'Tirana': 418495,
 'Tiraspol': 148917,
 'Tlemcen': 173531,
 'Tokchon': 237133,
 'Toliara': 80826,
 'Tougourt': 143270,
 'Tripoli': 1500000,
 'Tunis': 651284,
 'Tébessa': 194461,
 'Tórshavn': 12245,
 'Ubon Ratchathani': 149700,
 'Ulaanbaatar': 760077,
 'Ulsan': 1081985,
 'Vaduz': 5241,
 'Valletta': 5748,
 'Varna': 330486,
 'Vatican City': 842,
 'Victoria': 24970,
 'Vientiane': 698318,
 'Villa Nueva': 527174,
 'Vilnius': 538747,
 'Vinh': 215577,
 'Vlorë': 79513,
 'Vung Tau': 282415,
 'Wellington': 185187,
 'Willemstad': 125000,
 'Windhoek': 322500,
 'Wonsan': 363127,
 'Yeosu': 267921,
 'Yerevan': 1066264,
 'Yongin': 852505,
 'Zadar': 70674,
 'Zagreb': 686568,
 'Zarqa': 395227,
 'al Hudaydah': 402560}

In [17]:
# Create a dataframe cpdf1 from the dictionary dict
cpdf1 = pd.DataFrame(list(dict.items()), columns=['City', 'Population'])

In [18]:
cpdf.append(cpdf1).head()

        City  Population
0     Kavala       58790
1     Athina      664046
2   Peiraias      163688
3  Peristeri      139981
4   Acharnes      106943

In [19]:
# Sort the values and displauy the top ten cities with highest population
cpdf.sort_values('Population', ascending=False).head(10)

           City  Population
1189   Shanghai    22315474
673    Istanbul    13710512
1350     Mumbai    12442373
421      Moskva    11979529
1188    Beijing    11716620
2269  São Paulo    11152344
1190    Tianjin    11090314
915   Guangzhou    11071424
1396      Delhi    11034555
918    Shenzhen    10358381

# 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [20]:
# Define a dictionary c_p
c_p = {}
# Define a loop to iterate over countries
for e in document.iter('country'):
    # Get all the names of countries
    cntry = e.find('name')
    # Pick the most recent population figure
    pop = e.find('.//population[last()]')
    # If 'country name' and 'population' is not null, then fill the dictionary 'c_p'
    if cntry != None:
        if pop != None:
            # Create the dictionary with the key(country name) and value(population)
            c_p[cntry.text] = int(pop.text)

In [21]:
# Create a dataframe cpdf from the dictionay c_p
cpdf = pd.DataFrame(list(c_p.items()), columns=['Country', 'Population'])
cpdf.head()

      Country  Population
0     Albania     2800138
1      Greece    10816286
2   Macedonia     2059794
3      Serbia     7120666
4  Montenegro      620029

In [22]:
# Define a list co_etg
co_etg = []
# Loop over the countries
for el in document.iterfind('country'):
    # Get the names of each country
    co = el.find('name').text
    # Loop over the element ethnicgroup
    for et in el.iterfind('ethnicgroup'):
        # Get the name of each ethnic_group
        etg_name = et.text
        # Get the attribute 'percentage' value and make the dtype as float
        etg_prcnt = float(et.attrib['percentage'])
        # Create the list co_etg by appending the required data
        co_etg.append([co,etg_name,etg_prcnt])

In [23]:
co_etg

[['Albania', 'Albanian', 95.0],
 ['Albania', 'Greek', 3.0],
 ['Greece', 'Greek', 93.0],
 ['Macedonia', 'Macedonian', 64.2],
 ['Macedonia', 'Albanian', 25.2],
 ['Macedonia', 'Turkish', 3.9],
 ['Macedonia', 'Gypsy', 2.7],
 ['Macedonia', 'Serb', 1.8],
 ['Serbia', 'Serb', 82.9],
 ['Serbia', 'Montenegrin', 0.9],
 ['Serbia', 'Hungarian', 3.9],
 ['Serbia', 'Roma', 1.4],
 ['Serbia', 'Bosniak', 1.8],
 ['Serbia', 'Croat', 1.1],
 ['Montenegro', 'Montenegrin', 43.0],
 ['Montenegro', 'Serb', 32.0],
 ['Montenegro', 'Bosniak', 8.0],
 ['Montenegro', 'Albanian', 5.0],
 ['Kosovo', 'Albanian', 92.0],
 ['Kosovo', 'Serbian', 5.0],
 ['Andorra', 'Spanish', 43.0],
 ['Andorra', 'Andorran', 33.0],
 ['Andorra', 'Portuguese', 11.0],
 ['Andorra', 'French', 2.0],
 ['Andorra', 'African', 5.0],
 ['Spain', 'Mediterranean Nordic', 100.0],
 ['Austria', 'Austrian', 91.1],
 ['Austria', 'Turkish', 1.6],
 ['Austria', 'Slovene', 1.0],
 ['Austria', 'Croat', 2.0],
 ['Austria', 'Serbs', 2.0],
 ['Austria', 'German', 0.9],
 ['Czech Republic', 'Czech', 90.4],
 ['Czech Republic', 'Moravian', 3.7],
 ['Czech Republic', 'Slovak', 1.9],
 ['Czech Republic', 'German', 0.5],
 ['Czech Republic', 'Polish', 0.6],
 ['Czech Republic', 'Roma', 0.3],
 ['Czech Republic', 'Hungarian', 0.2],
 ['Germany', 'German', 91.5],
 ['Germany', 'Turkish', 2.4],
 ['Hungary', 'Hungarian', 92.3],
 ['Hungary', 'Roma', 1.9],
 ['Hungary', 'Serb', 2.0],
 ['Hungary', 'German', 2.6],
 ['Hungary', 'Slovak', 0.8],
 ['Hungary', 'Romanian', 0.7],
 ['Liechtenstein', 'Italian', 5.0],
 ['Liechtenstein', 'Alemannic', 95.0],
 ['Slovakia', 'Slovak', 85.7],
 ['Slovakia', 'Hungarian', 9.7],
 ['Slovakia', 'Roma', 1.7],
 ['Slovakia', 'Czech', 1.0],
 ['Slovakia', 'Ukrainian', 0.3],
 ['Slovakia', 'Ruthenian', 0.3],
 ['Slovakia', 'German', 0.1],
 ['Slovakia', 'Polish', 0.1],
 ['Slovenia', 'Slovene', 91.0],
 ['Slovenia', 'Croat', 3.0],
 ['Slovenia', 'Serb', 2.0],
 ['Slovenia', 'Bosniak', 1.0],
 ['Switzerland', 'German', 65.0],
 ['Switzerland', 'French', 18.0],
 ['Switzerland', 'Italian', 10.0],
 ['Switzerland', 'Romansch', 1.0],
 ['Belarus', 'Belorussian', 81.2],
 ['Belarus', 'Russian', 11.4],
 ['Belarus', 'Polish', 3.9],
 ['Belarus', 'Ukrainian', 2.4],
 ['Latvia', 'Latvian', 59.3],
 ['Latvia', 'Russian', 27.8],
 ['Latvia', 'Belorussian', 3.6],
 ['Latvia', 'Ukrainian', 2.5],
 ['Latvia', 'Polish', 2.4],
 ['Latvia', 'Lithuanian', 1.3],
 ['Lithuania', 'Lithuanian', 84.0],
 ['Lithuania', 'Polish', 6.1],
 ['Lithuania', 'Russian', 4.9],
 ['Lithuania', 'Belorussian', 1.1],
 ['Poland', 'German', 1.3],
 ['Poland', 'Polish', 97.6],
 ['Poland', 'Ukrainian', 0.6],
 ['Poland', 'Byelorussian', 0.5],
 ['Ukraine', 'Ukrainian', 77.8],
 ['Ukraine', 'Russian', 17.3],
 ['Ukraine', 'Belorussian', 0.6],
 ['Ukraine', 'Moldovan', 0.5],
 ['Ukraine', 'Crimean Tatar', 0.5],
 ['Ukraine', 'Bulgarian', 0.4],
 ['Ukraine', 'Hungarian', 0.3],
 ['Ukraine', 'Romanian', 0.3],
 ['Ukraine', 'Polish', 0.3],
 ['Ukraine', 'Jewish', 0.2],
 ['Russia', 'Russian', 79.8],
 ['Russia', 'Tatar', 3.8],
 ['Russia', 'Ukrainian', 2.0],
 ['Russia', 'Bashkir', 1.2],
 ['Russia', 'Chuvash', 1.1],
 ['Belgium', 'Fleming', 58.0],
 ['Belgium', 'Walloon', 31.0],
 ['Luxembourg', 'Luxembourgish', 63.1],
 ['Luxembourg', 'Portuguese', 13.3],
 ['Luxembourg', 'French', 4.5],
 ['Luxembourg', 'Italian', 4.3],
 ['Luxembourg', 'German', 2.3],
 ['Netherlands', 'Dutch', 80.7],
 ['Netherlands', 'Indonesian', 2.4],
 ['Netherlands', 'Turkish', 2.2],
 ['Netherlands', 'Moroccan', 2.0],
 ['Netherlands', 'Surinamese', 2.0],
 ['Netherlands', 'Caribbean', 0.8],
 ['Bosnia and Herzegovina', 'Muslim', 48.0],
 ['Bosnia and Herzegovina', 'Bosniak', 37.1],
 ['Bosnia and Herzegovina', 'Croat', 14.3],
 ['Croatia', 'Croat', 89.6],
 ['Croatia', 'Serb', 4.5],
 ['Croatia', 'Hungarian', 0.5],
 ['Croatia', 'Muslim', 0.9],
 ['Croatia', 'Slovene', 0.5],
 ['Bulgaria', 'Bulgarian', 76.9],
 ['Bulgaria', 'Turkish', 8.0],
 ['Bulgaria', 'Roma', 4.4],
 ['Bulgaria', 'Macedonian', 2.5],
 ['Bulgaria', 'Russian', 0.2],
 ['Bulgaria', 'Armenian', 0.3],
 ['Romania', 'Romanian', 89.1],
 ['Romania', 'Hungarian', 6.6],
 ['Romania', 'Roma', 2.5],
 ['Romania', 'German', 0.3],
 ['Romania', 'Ukrainian', 0.3],
 ['Romania', 'Russian', 0.2],
 ['Romania', 'Turkish', 0.2],
 ['Turkey', 'Turkish', 84.54],
 ['Turkey', 'Kurdish', 11.97],
 ['Turkey', 'Arabic', 1.38],
 ['Estonia', 'Estonian', 68.7],
 ['Estonia', 'Russian', 25.6],
 ['Estonia', 'Ukrainian', 2.1],
 ['Estonia', 'Belorussian', 1.2],
 ['Estonia', 'Finn', 0.8],
 ['Faroe Islands', 'Scandinavian', 100.0],
 ['Finland', 'Finn', 93.4],
 ['Finland', 'Swede', 5.6],
 ['Finland', 'Russian', 0.5],
 ['Finland', 'Estonian', 0.3],
 ['Norway', 'Norwegian', 82.5],
 ['Norway', 'Sami', 1.5],
 ['Sweden', 'Swede', 83.0],
 ['Sweden', 'Finn', 5.0],
 ['Monaco', 'French', 47.0],
 ['Monaco', 'Monegasque', 21.6],
 ['Monaco', 'Italian', 19.0],
 ['Guernsey', 'Norman-French', 100.0],
 ['Iceland', 'Celt', 100.0],
 ['Ireland', 'Irish', 87.4],
 ['Ireland', 'Asian', 1.3],
 ['Ireland', 'African', 1.1],
 ['Jersey', 'Norman-French', 100.0],
 ['Moldova', 'Moldavian/Romanian', 78.2],
 ['Moldova', 'Ukrainian', 8.4],
 ['Moldova', 'Russian', 5.8],
 ['Moldova', 'Gagauz', 4.4],
 ['Moldova', 'Bulgarian', 1.9],
 ['Svalbard', 'Norwegian', 55.4],
 ['Svalbard', 'Russian Ukrainian', 44.3],
 ['United Kingdom', 'English', 83.6],
 ['United Kingdom', 'Scottish', 8.6],
 ['United Kingdom', 'Welsh', 4.9],
 ['United Kingdom', 'Northern Irish', 2.9],
 ['United Kingdom', 'African', 2.0],
 ['United Kingdom', 'Indian', 1.8],
 ['United Kingdom', 'Pakistani', 1.3],
 ['Afghanistan', 'Tajik', 25.0],
 ['Afghanistan', 'Pashtun', 38.0],
 ['Afghanistan', 'Uzbek', 6.0],
 ['Afghanistan', 'Hazara', 19.0],
 ['China', 'Han Chinese', 91.5],
 ['Iran', 'Arab', 3.0],
 ['Iran', 'Persian', 51.0],
 ['Iran', 'Baloch', 2.0],
 ['Iran', 'Azerbaijani', 24.0],
 ['Iran', 'Kurd', 7.0],
 ['Iran', 'Lur', 2.0],
 ['Iran', 'Turkmen', 2.0],
 ['Iran', 'Gilaki Mazandarani', 8.0],
 ['Tajikistan', 'Tajik', 79.9],
 ['Tajikistan', 'Uzbek', 15.3],
 ['Tajikistan', 'Russian', 1.1],
 ['Tajikistan', 'Kyrgyz', 1.1],
 ['Turkmenistan', 'Turkmen', 85.0],
 ['Turkmenistan', 'Uzbek', 5.0],
 ['Turkmenistan', 'Russian', 4.0],
 ['Uzbekistan', 'Uzbek', 80.0],
 ['Uzbekistan', 'Russian', 5.5],
 ['Uzbekistan', 'Tajik', 5.0],
 ['Uzbekistan', 'Kazak', 3.0],
 ['Uzbekistan', 'Karakalpak', 2.5],
 ['Uzbekistan', 'Tatar', 1.5],
 ['Armenia', 'Armenian', 97.7],
 ['Armenia', 'Russian', 0.5],
 ['Armenia', 'Yezidi', 1.3],
 ['Georgia', 'Georgian', 83.8],
 ['Georgia', 'Azeri', 6.5],
 ['Georgia', 'Russian', 1.5],
 ['Azerbaijan', 'Azeri', 90.6],
 ['Azerbaijan', 'Dagestani', 2.2],
 ['Azerbaijan', 'Russian', 1.8],
 ['Azerbaijan', 'Armenian', 1.5],
 ['Bahrain', 'Arab', 10.0],
 ['Bahrain', 'Asian', 13.0],
 ['Bahrain', 'Bahraini', 63.0],
 ['Bahrain', 'Iranian', 8.0],
 ['Bangladesh', 'Bengali', 98.0],
 ['Myanmar', 'Indian', 2.0],
 ['Myanmar', 'Chinese', 3.0],
 ['Myanmar', 'Burman', 68.0],
 ['Myanmar', 'Shan', 9.0],
 ['Myanmar', 'Karen', 7.0],
 ['Myanmar', 'Rakhine', 4.0],
 ['Myanmar', 'Mon', 2.0],
 ['India', 'Dravidian', 25.0],
 ['India', 'Indo-Aryan', 72.0],
 ['India', 'Mongol', 3.0],
 ['Bhutan', 'Bhote', 50.0],
 ['Bhutan', 'Nepalese', 35.0],
 ['Brunei', 'Chinese', 20.0],
 ['Brunei', 'Malay', 64.0],
 ['Malaysia', 'Malay', 50.4],
 ['Malaysia', 'Chinese', 23.7],
 ['Malaysia', 'Indian', 7.1],
 ['Malaysia', 'Borneo indigenous', 11.0],
 ['Laos', 'Lao Loum', 68.0],
 ['Laos', 'Lao Theung', 22.0],
 ['Laos', 'Lao Soung Hmong Yao', 9.0],
 ['Laos', 'Vietnamese/Chinese', 1.0],
 ['Thailand', 'Chinese', 14.0],
 ['Thailand', 'Thai', 75.0],
 ['Cambodia', 'Chinese', 1.0],
 ['Cambodia', 'Khmer', 90.0],
 ['Cambodia', 'Vietnamese', 5.0],
 ['Vietnam', 'Viet/Kinh', 85.7],
 ['Vietnam', 'Tay', 1.9],
 ['Vietnam', 'Thai', 1.8],
 ['Vietnam', 'Muong', 1.5],
 ['Vietnam', 'Khmer', 1.5],
 ['Vietnam', 'Mong', 1.2],
 ['Vietnam', 'Nung', 1.1],
 ['Kazakhstan', 'Kazakh', 63.1],
 ['Kazakhstan', 'Russian', 23.7],
 ['Kazakhstan', 'Uzbek', 2.8],
 ['Kazakhstan', 'Ukrainian', 2.1],
 ['Kazakhstan', 'Uighur', 1.4],
 ['Kazakhstan', 'Tatar', 1.3],
 ['Kazakhstan', 'German', 1.1],
 ['Kyrgyzstan', 'Kyrgyz', 64.9],
 ['Kyrgyzstan', 'Uzbek', 13.8],
 ['Kyrgyzstan', 'Russian', 12.5],
 ['Kyrgyzstan', 'Dungan', 1.1],
 ['Kyrgyzstan', 'Ukrainian', 1.0],
 ['Kyrgyzstan', 'Uighur', 1.0],
 ['Hong Kong', 'Chinese', 95.0],
 ['Hong Kong', 'Filipino', 1.6],
 ['Hong Kong', 'Indonesian', 1.3],
 ['Macao', 'Chinese', 95.0],
 ['Macao', 'Portuguese', 3.0],
 ['Mongolia', 'Mongol', 94.9],
 ['Mongolia', 'Kazak', 5.0],
 ['Christmas Island', 'Chinese', 70.0],
 ['Christmas Island', 'Malay', 10.0],
 ['Christmas Island', 'European', 20.0],
 ['Cyprus', 'Greek', 77.0],
 ['Cyprus', 'Turkish', 18.0],
 ['Gaza Strip', 'Jewish', 0.6],
 ['Gaza Strip', 'Palestinian Arab', 99.4],
 ['Israel', 'Jewish', 76.4],
 ['Israel', 'Arab', 23.0],
 ['Egypt', 'European', 1.0],
 ['Egypt', 'Eastern Hamitic', 99.0],
 ['Indonesia', 'Javanese', 45.0],
 ['Indonesia', 'Sundanese', 14.0],
 ['Indonesia', 'Madurese', 7.5],
 ['Indonesia', 'Malay', 7.5],
 ['Iraq', 'Kurdish', 15.0],
 ['Iraq', 'Arab', 75.0],
 ['Iraq', 'Assyrian', 5.0],
 ['Jordan', 'Armenian', 1.0],
 ['Jordan', 'Arab', 98.0],
 ['Jordan', 'Circassian', 1.0],
 ['Kuwait', 'Arab', 35.0],
 ['Kuwait', 'Iranian', 4.0],
 ['Kuwait', 'South Asian', 9.0],
 ['Kuwait', 'Kuwaiti', 45.0],
 ['Saudi Arabia', 'Arab', 90.0],
 ['Saudi Arabia', 'Afro-Asian', 10.0],
 ['Syria', 'Arab', 90.3],
 ['Lebanon', 'Armenian', 4.0],
 ['Lebanon', 'Arab', 95.0],
 ['West Bank', 'Jewish', 17.0],
 ['West Bank', 'Palestinian Arab', 83.0],
 ['Japan', 'Japanese', 99.4],
 ['United Arab Emirates', 'South Asian', 50.0],
 ['United Arab Emirates', 'Emiri', 19.0],
 ['United Arab Emirates', 'Arab Iranian', 23.0],
 ['Philippines', 'Chinese', 1.5],
 ['Philippines', 'Malay', 95.5],
 ['Qatar', 'Indian', 18.0],
 ['Qatar', 'Pakistani', 18.0],
 ['Qatar', 'Arab', 40.0],
 ['Qatar', 'Iranian', 10.0],
 ['Singapore', 'Indian', 6.4],
 ['Singapore', 'Chinese', 76.4],
 ['Singapore', 'Malay', 14.9],
 ['Sri Lanka', 'Sinhalese', 74.0],
 ['Sri Lanka', 'Tamil', 18.0],
 ['Sri Lanka', 'Arab', 7.0],
 ['Sri Lanka', 'Vedda', 1.0],
 ['Taiwan', 'Chinese', 14.0],
 ['Taiwan', 'Taiwanese', 84.0],
 ['Anguilla', 'Black', 90.1],
 ['Anguilla', 'Mulatto', 4.6],
 ['Anguilla', 'White', 3.7],
 ['Aruba', 'European/Caribbean Amerindian', 80.0],
 ['Barbados', 'European', 4.0],
 ['Barbados', 'African', 80.0],
 ['Belize', 'Mestizo', 48.7],
 ['Belize', 'Creole', 24.9],
 ['Belize', 'Maya', 10.6],
 ['Belize', 'Garifuna', 6.1],
 ['Guatemala', 'Mestizo', 50.0],
 ['Guatemala', 'European', 10.0],
 ['Guatemala', 'Amerindian', 30.5],
 ['Mexico', 'Mestizo', 60.0],
 ['Mexico', 'Amerindian', 30.0],
 ['Mexico', 'European', 9.0],
 ['Bermuda', 'Black', 54.0],
 ['Bermuda', 'White', 34.1],
 ['Bermuda', 'Mixed', 6.4],
 ['British Virgin Islands', 'Black', 83.4],
 ['British Virgin Islands', 'White', 7.0],
 ['British Virgin Islands', 'Amerindian', 3.4],
 ['British Virgin Islands', 'Mixed', 5.4],
 ['Canada', 'British Isles', 28.0],
 ['Canada', 'French', 23.0],
 ['Canada', 'European', 15.0],
 ['Canada', 'Inuit', 2.0],
 ['United States', 'European', 79.96],
 ['United States', 'African', 12.85],
 ['United States', 'Asian', 4.43],
 ['United States', 'Amerindian', 0.97],
 ['Cayman Islands', 'Black', 20.0],
 ['Cayman Islands', 'White', 20.0],
 ['Cayman Islands', 'Mixed', 40.0],
 ['Costa Rica', 'Mestizo', 74.0],
 ['Costa Rica', 'European', 20.0],
 ['Costa Rica', 'African', 3.0],
 ['Costa Rica', 'Amerindian', 1.0],
 ['Costa Rica', 'Chinese', 1.0],
 ['Nicaragua', 'Mestizo', 69.0],
 ['Nicaragua', 'European', 17.0],
 ['Nicaragua', 'African', 9.0],
 ['Nicaragua', 'Amerindian', 5.0],
 ['Panama', 'Mestizo', 84.0],
 ['Panama', 'European', 10.0],
 ['Panama', 'Amerindian', 6.0],
 ['Cuba', 'European', 65.1],
 ['Cuba', 'Mestizo', 12.0],
 ['Cuba', 'Mulatto', 12.0],
 ['Cuba', 'African', 10.1],
 ['Dominica', 'Carib Indians', 100.0],
 ['Dominican Republic', 'Mulatto', 73.0],
 ['Dominican Republic', 'European', 16.0],
 ['Dominican Republic', 'African', 11.0],
 ['Haiti', 'African', 95.0],
 ['Haiti', 'Mulatto', 3.0],
 ['Haiti', 'European', 2.0],
 ['El Salvador', 'Mestizo', 90.0],
 ['El Salvador', 'European', 9.0],
 ['El Salvador', 'Amerindian', 1.0],
 ['Honduras', 'Mestizo', 90.0],
 ['Honduras', 'Amerindian', 7.0],
 ['Honduras', 'African', 2.0],
 ['Honduras', 'European', 1.0],
 ['Greenland', 'Danish', 14.0],
 ['Greenland', 'Greenlander', 86.0],
 ['Grenada', 'African', 100.0],
 ['Guadeloupe', 'Chinese', 5.0],
 ['Jamaica', 'African', 76.3],
 ['Jamaica', 'Afro-European', 15.1],
 ['Jamaica', 'Afro-East Indian', 3.0],
 ['Jamaica', 'Afro-Chinese', 1.2],
 ['Martinique', 'Chinese', 5.0],
 ['Martinique', 'African-white-Indian', 90.0],
 ['Colombia', 'Mestizo', 58.0],
 ['Colombia', 'European', 20.0],
 ['Colombia', 'Mulatto', 14.0],
 ['Colombia', 'African', 4.0],
 ['Colombia', 'black-Amerindian', 3.0],
 ['Colombia', 'Amerindian', 1.0],
 ['Puerto Rico', 'White', 80.2],
 ['Puerto Rico', 'Black', 8.0],
 ['Puerto Rico', 'Amerindian', 0.4],
 ['Puerto Rico', 'Asian', 0.4],
 ['Saint Kitts and Nevis', 'African', 100.0],
 ['Saint Lucia', 'African', 90.3],
 ['Saint Lucia', 'East Indian', 3.2],
 ['Saint Pierre and Miquelon', 'Basques Bretons', 100.0],
 ['Trinidad and Tobago', 'Chinese', 1.0],
 ['Trinidad and Tobago', 'East Indian', 40.0],
 ['Turks and Caicos Islands', 'African', 90.0],
 ['American Samoa', 'Caucasian', 2.0],
 ['American Samoa', 'Tongan', 4.0],
 ['American Samoa', 'Samoan', 89.0],
 ['Australia', 'European', 92.0],
 ['Australia', 'Asian', 7.0],
 ['Cook Islands', 'Polynesian', 93.5],
 ['Fiji', 'Indian', 46.0],
 ['Fiji', 'Fijian', 49.0],
 ['French Polynesia', 'French', 10.0],
 ['French Polynesia', 'Chinese', 12.0],
 ['French Polynesia', 'Polynesian', 78.0],
 ['Guam', 'Chamorro', 37.1],
 ['Guam', 'Filipino', 26.3],
 ['Kiribati', 'Micronesian', 100.0],
 ['Marshall Islands', 'Micronesian', 100.0],
 ['Micronesia', 'Polynesian', 100.0],
 ['Nauru', 'Chinese', 8.0],
 ['Nauru', 'European', 8.0],
 ['Nauru', 'Nauruan', 58.0],
 ['Nauru', 'Pacific Islander', 26.0],
 ['New Caledonia', 'Vietnamese', 1.4],
 ['New Caledonia', 'European', 34.1],
 ['New Caledonia', 'Melanesian', 44.1],
 ['New Caledonia', 'Wallisian', 9.0],
 ['New Caledonia', 'Indonesian', 2.5],
 ['New Zealand', 'European', 56.8],
 ['New Zealand', 'Asian', 8.0],
 ['New Zealand', 'Maori', 7.4],
 ['New Zealand', 'Pacific Islander', 4.6],
 ['Niue', 'Polynesian', 100.0],
 ['Northern Mariana Islands', 'Asian', 56.3],
 ['Northern Mariana Islands', 'Pacific Islander', 36.3],
 ['Northern Mariana Islands', 'Caucasian', 1.8],
 ['Pitcairn', 'Bounty', 100.0],
 ['Solomon Islands', 'Chinese', 0.3],
 ['Solomon Islands', 'European', 0.8],
 ['Solomon Islands', 'Polynesian', 4.0],
 ['Solomon Islands', 'Micronesian', 1.5],
 ['Solomon Islands', 'Melanesian', 93.0],
 ['Tuvalu', 'Polynesian', 96.0],
 ['Tokelau', 'Polynesian', 95.0],
 ['Vanuatu', 'French', 4.0],
 ['Vanuatu', 'Melanesian', 94.0],
 ['Wallis and Futuna', 'Polynesian', 100.0],
 ['Samoa', 'Europeans', 0.4],
 ['Samoa', 'Samoan', 92.6],
 ['Samoa', 'Euronesians', 7.0],
 ['Argentina', 'European', 97.0],
 ['Bolivia', 'Quechua', 30.0],
 ['Bolivia', 'Mestizo', 30.0],
 ['Bolivia', 'Aymara', 25.0],
 ['Bolivia', 'European', 15.0],
 ['Brazil', 'European', 53.7],
 ['Brazil', 'Mulatto', 38.5],
 ['Brazil', 'African', 6.2],
 ['Chile', 'Amerindian', 3.0],
 ['Chile', 'European', 95.0],
 ['Paraguay', 'Mestizo', 95.0],
 ['Uruguay', 'European', 88.0],
 ['Uruguay', 'Mestizo', 8.0],
 ['Uruguay', 'African', 4.0],
 ['Peru', 'Amerindian', 45.0],
 ['Peru', 'Mestizo', 37.0],
 ['Peru', 'European', 15.0],
 ['French Guiana', 'Amerindian', 12.0],
 ['Guyana', 'East Indian', 43.5],
 ['Guyana', 'African', 30.2],
 ['Guyana', 'Amerindian', 9.1],
 ['Suriname', 'Hindustani', 37.0],
 ['Suriname', 'Creole', 31.0],
 ['Suriname', 'Javanese', 15.3],
 ['Suriname', 'African', 10.0],
 ['Suriname', 'Chinese', 2.0],
 ['Suriname', 'Amerindian', 2.0],
 ['Suriname', 'Europeans', 1.0],
 ['Ecuador', 'Mestizo', 65.0],
 ['Ecuador', 'Amerindian', 25.0],
 ['Ecuador', 'European', 7.0],
 ['Ecuador', 'African', 3.0],
 ['Falkland Islands', 'Christian', 67.2],
 ['Falkland Islands', 'None', 31.5],
 ['Algeria', 'European', 1.0],
 ['Algeria', 'Arab-Berber', 99.0],
 ['Libya', 'Berber Arab', 97.0],
 ['Mali', 'Mande', 50.0],
 ['Mali', 'Peuhl', 17.0],
 ['Mali', 'Voltaic', 12.0],
 ['Mali', 'Songhai', 6.0],
 ['Mali', 'Tuareg', 10.0],
 ['Mauritania', 'Maur', 30.0],
 ['Mauritania', 'Black Maur', 40.0],
 ['Morocco', 'Jewish', 0.2],
 ['Morocco', 'Arab-Berber', 99.1],
 ['Niger', 'Fula', 8.5],
 ['Niger', 'Hausa', 56.0],
 ['Niger', 'Djerma', 22.0],
 ['Niger', 'Tuareg', 8.0],
 ['Niger', 'Beri Beri', 4.3],
 ['Niger', 'Gourmantche', 1.2],
 ['Tunisia', 'Jewish', 1.0],
 ['Tunisia', 'European', 1.0],
 ['Tunisia', 'Arab-Berber', 98.0],
 ['Angola', 'European', 1.0],
 ['Angola', 'Ovimbundu', 37.0],
 ['Angola', 'Kimbundu', 25.0],
 ['Angola', 'Bakongo', 13.0],
 ['Zaire', 'Mangbetu-Azande', 45.0],
 ['Zambia', 'European', 1.1],
 ['Zambia', 'African', 98.7],
 ['Benin', 'African', 99.0],
 ['Burkina Faso', 'Mossi', 24.0],
 ['Nigeria', 'African', 99.0],
 ['Togo', 'African', 99.0],
 ['Togo', 'European Syrian-Lebanese', 1.0],
 ['Botswana', 'Batswana', 95.0],
 ['Botswana', 'Kgalagadi', 4.0],
 ['South Africa', 'Indian', 2.6],
 ['South Africa', 'Colored', 8.6],
 ['Zimbabwe', 'Asian', 1.0],
 ['Zimbabwe', 'African', 98.0],
 ['Cote dIvoire', 'Malinke', 11.0],
 ['Cote dIvoire', 'Baoule', 23.0],
 ['Cote dIvoire', 'Bete', 18.0],
 ['Cote dIvoire', 'Senoufou', 15.0],
 ['Ghana', 'European', 0.2],
 ['Ghana', 'African', 99.8],
 ['Rwanda', 'Hutu', 80.0],
 ['Rwanda', 'Tutsi', 19.0],
 ['Rwanda', 'Twa', 1.0],
 ['Tanzania', 'Bantu', 95.0],
 ['Cameroon', 'African', 13.0],
 ['Cameroon', 'Fulani', 10.0],
 ['Cameroon', 'Cameroon Highlanders', 31.0],
 ['Cameroon', 'Equatorial Bantu', 19.0],
 ['Cameroon', 'Kirdi', 11.0],
 ['Cameroon', 'Northwestern Bantu', 8.0],
 ['Cameroon', 'Eastern Nigritic', 7.0],
 ['Central African Republic', 'Baya', 34.0],
 ['Central African Republic', 'Banda', 27.0],
 ['Central African Republic', 'Sara', 10.0],
 ['Central African Republic', 'Mandjia', 21.0],
 ['Central African Republic', 'Mboum', 4.0],
 ['Central African Republic', 'MBaka', 4.0],
 ['Cape Verde', 'European', 1.0],
 ['Cape Verde', 'African', 28.0],
 ['Cape Verde', 'Creole', 71.0],
 ['Sudan', 'Arab', 70.0],
 ['Sudan', 'Beja', 6.0],
 ['Guinea', 'Malinke', 30.0],
 ['Guinea', 'Peuhl', 40.0],
 ['Guinea', 'Soussou', 20.0],
 ['Liberia', 'African', 95.0],
 ['Liberia', 'Americo-Liberians', 5.0],
 ['Djibouti', 'Italian', 5.0],
 ['Djibouti', 'Afar', 35.0],
 ['Djibouti', 'Somali', 60.0],
 ['Eritrea', 'Tigrinya', 55.0],
 ['Eritrea', 'Tigre', 30.0],
 ['Eritrea', 'Saho', 4.0],
 ['Eritrea', 'Kunama', 2.0],
 ['Eritrea', 'Rashaida', 2.0],
 ['Eritrea', 'Bilen', 2.0],
 ['Ethiopia', 'Oromo', 34.5],
 ['Ethiopia', 'Amhara', 26.9],
 ['Ethiopia', 'Somali', 6.2],
 ['Ethiopia', 'Tigraway', 6.1],
 ['Ethiopia', 'Sidama', 4.0],
 ['Ethiopia', 'Gurage', 2.5],
 ['Ethiopia', 'Welaita', 2.3],
 ['Ethiopia', 'Hadiya', 1.7],
 ['Ethiopia', 'Afar', 1.7],
 ['Somalia', 'Somali', 85.0],
 ['Kenya', 'Arab', 1.0],
 ['Kenya', 'Kikuyu', 22.0],
 ['Kenya', 'Luhya', 14.0],
 ['Kenya', 'Luo', 13.0],
 ['Kenya', 'Kalenjin', 12.0],
 ['Kenya', 'Kamba', 11.0],
 ['Kenya', 'Kisii', 6.0],
 ['Kenya', 'Meru', 6.0],
 ['Gambia', 'African', 99.0],
 ['Senegal', 'Fulani', 17.0],
 ['Senegal', 'Wolof', 36.0],
 ['Senegal', 'Diola', 9.0],
 ['Senegal', 'Mandingo', 9.0],
 ['Senegal', 'Serer', 17.0],
 ['Senegal', 'Toucouleur', 9.0],
 ['Senegal', 'European Lebanese', 1.0],
 ['Guinea-Bissau', 'European', 1.0],
 ['Guinea-Bissau', 'African', 99.0],
 ['Sierra Leone', 'Asian', 1.0],
 ['Sierra Leone', 'African', 99.0],
 ['Uganda', 'Rwanda', 6.0],
 ['Uganda', 'Arab', 1.0],
 ['Uganda', 'Baganda', 17.0],
 ['Uganda', 'Karamojong', 12.0],
 ['Uganda', 'Basogo', 8.0],
 ['Uganda', 'Iteso', 8.0],
 ['Uganda', 'Langi', 6.0],
 ['Uganda', 'Bagisu', 5.0],
 ['Uganda', 'Acholi', 4.0],
 ['Uganda', 'Lugbara', 4.0],
 ['Uganda', 'Bunyoro', 3.0],

In [24]:
# Create a data frame co_etgdf from the list co_etg with defined columns
co_etgdf = pd.DataFrame(co_etg, columns = ['Country', 'Ethnic_group', 'Ethnic_group_prcnt'])

In [25]:
co_etgdf.head()

     Country Ethnic_group  Ethnic_group_prcnt
0    Albania     Albanian                95.0
1    Albania        Greek                 3.0
2     Greece        Greek                93.0
3  Macedonia   Macedonian                64.2
4  Macedonia     Albanian                25.2

In [32]:
# Merge the two data frames 'co_etgdf' and 'cpdf' 
merge_df = pd.merge(co_etgdf, cpdf, on='Country')

In [33]:
merge_df.head()

     Country Ethnic_group  Ethnic_group_prcnt  Population
0    Albania     Albanian                95.0     2800138
1    Albania        Greek                 3.0     2800138
2     Greece        Greek                93.0    10816286
3  Macedonia   Macedonian                64.2     2059794
4  Macedonia     Albanian                25.2     2059794

In [34]:
merge_df.dtypes

Country                object
Ethnic_group           object
Ethnic_group_prcnt    float64
Population              int64
dtype: object

In [35]:
# Calculate the population of each ethnic group of the overall population
merge_df['Ethnic_group_pop'] = (merge_df['Population']*merge_df['Ethnic_group_prcnt'])/100

In [36]:
# Define the data type of Ethnic Group population as integer
merge_df.Ethnic_group_pop = merge_df.Ethnic_group_pop.astype(int)

In [37]:
# Rearrange the columns of the data frame 
merge_df = merge_df[['Country', 'Ethnic_group', 'Population','Ethnic_group_prcnt', 'Ethnic_group_pop']]

In [41]:
merge_df

,Country,Ethnic_group,Population,Ethnic_group_prcnt,Ethnic_group_pop
0,Albania,Albanian,2800138,95.00,2660131
1,Albania,Greek,2800138,3.00,84004
2,Greece,Greek,10816286,93.00,10059145
3,Macedonia,Macedonian,2059794,64.20,1322387
4,Macedonia,Albanian,2059794,25.20,519068
5,Macedonia,Turkish,2059794,3.90,80331
6,Macedonia,Gypsy,2059794,2.70,55614
7,Macedonia,Serb,2059794,1.80,37076
8,Serbia,Serb,7120666,82.90,5903032
9,Serbia,Montenegrin,7120666,0.90,64085
10,Serbia,Hungarian,7120666,3.90,277705
11,Serbia,Roma,7120666,1.40,99689
12,Serbia,Bosniak,7120666,1.80,128171
13,Serbia,Croat,7120666,1.10,78327
14,Montenegro,Montenegrin,620029,43.00,266612
15,Montenegro,Serb,620029,32.00,198409
16,Montenegro,Bosniak,620029,8.00,49602
17,Montenegro,Albanian,620029,5.00,31001
18,Kosovo,Albanian,1733872,92.00,1595162
19,Kosovo,Serbian,1733872,5.00,86693
20,Andorra,Spanish,78115,43.00,33589
21,Andorra,Andorran,78115,33.00,25777
22,Andorra,Portuguese,78115,11.00,8592
23,Andorra,French,78115,2.00,1562
24,Andorra,African,78115,5.00,3905
25,Spain,Mediterranean Nordic,46815916,100.00,46815916
26,Austria,Austrian,8499759,91.10,7743280
27,Austria,Turkish,8499759,1.60,135996
28,Austria,Slovene,8499759,1.00,84997
29,Austria,Croat,8499759,2.00,169995
...,...,...,...,...,...
598,Guinea-Bissau,African,1586624,99.00,1570757
599,Sierra Leone,Asian,5751976,1.00,57519
600,Sierra Leone,African,5751976,99.00,5694456
601,Uganda,Rwanda,34856813,6.00,2091408
602,Uganda,Arab,34856813,1.00,348568
603,Uganda,Baganda,34856813,17.00,5925658
604,Uganda,Karamojong,34856813,12.00,4182817
605,Uganda,Basogo,34856813,8.00,2788545
606,Uganda,Iteso,34856813,8.00,2788545
607,Uganda,Langi,34856813,6.00,2091408
608,Uganda,Bagisu,34856813,5.00,1742840
609,Uganda,Acholi,34856813,4.00,1394272
610,Uganda,Lugbara,34856813,4.00,1394272
611,Uganda,Bunyoro,34856813,3.00,1045704
612,Uganda,Batobo,34856813,3.00,1045704
613,Lesotho,Sotho,2008921,99.70,2002894
614,Mozambique,European,23700715,0.06,14220
615,Mozambique,Indian,23700715,0.08,18960
616,Mozambique,Euro-African,23700715,0.20,47401
617,Mauritius,Creole,1237091,27.00,334014
618,Mauritius,Indo-Mauritian,1237091,68.00,841221
619,Mauritius,Sino-Mauritian,1237091,3.00,37112
620,Mauritius,Franco-Mauritian,1237091,2.00,24741
621,Swaziland,European,1193148,3.00,35794
622,Swaziland,African,1193148,97.00,1157353
623,Saint Helena,African descent,5663,50.00,2831
624,Saint Helena,White,5663,25.00,1415
625,Saint Helena,Chinese,5663,25.00,1415
626,Sao Tome and Principe,European,187356,100.00,187356
627,Seychelles,Seychellois,90945,100.00,90945

In [43]:
largest_ethnic_groups = merge_df.groupby('Ethnic_group').sum()

In [44]:
largest_ethnic_groups.sort_values('Ethnic_group_pop', ascending=False).head(10)

              Population  Ethnic_group_prcnt  Ethnic_group_pop
Ethnic_group
Han Chinese   1360720000               91.50        1245058800
Indo-Aryan    1210854977               72.00         871815583
European      1157295639              970.82         494872201
African        975352746             1868.55         318325104
Dravidian     1210854977               25.00         302713744
Mestizo        279743964              870.70         157734349
Bengali        149772364               98.00         146776916
Russian        322438406              224.10         131856989
Japanese       127298000               99.40         126534212
Malay          377500275              242.30         121993548

# 4. Name and Country of a) longest river, b) largest lake and c) airport at highest elevation

In [61]:
# Define a dictionary 'cntry'
cntry = {}
# Loop over all the countries
for el in document.iterfind('country'):
    # Find the name of each country
    co_name = el.find('name').text
    # Retrieve the code of each country which is present in the attribute "car_code"
    co_code = el.attrib['car_code']
    # Create the dictionary 'cntry'
    cntry[co_code] = co_name

In [62]:
# Create a data frame 'cntry_df' from the dictionary 'cntry'
cntry_df = pd.DataFrame(list(cntry.items()), columns=['Country_Code', 'Country_Name'])

In [63]:
cntry_df.head()

  Country_Code Country_Name
0           AL      Albania
1           GR       Greece
2           MK    Macedonia
3          SRB       Serbia
4          MNE   Montenegro

# a) Longest River

In [64]:
# Define a list 'r_list'
r_list = []
# Loop over each river and retrieve the 'river name', 'length'
for el in document.iterfind('river'):
    r_name = el.find('name').text
    ln = el.find('length')
    # If the length of the river is not null, get the text of the subelement 'length'
    if ln != None:
        r_ln = ln.text
        # Loop over all the countries and split the text if they are multiple countries
        for se in el.attrib['country'].split():
            r_cntry = cntry[se]
            r_list.append([se, r_cntry, r_name, ln.text])

In [65]:
r_list

[['IS', 'Iceland', 'Thjorsa', '230'],
 ['IS', 'Iceland', 'Joekulsa a Fjoellum', '206'],
 ['N', 'Norway', 'Glomma', '604'],
 ['N', 'Norway', 'Lagen', '322'],
 ['S', 'Sweden', 'Goetaaelv', '93'],
 ['N', 'Norway', 'Klaraelv', '460'],
 ['S', 'Sweden', 'Klaraelv', '460'],
 ['S', 'Sweden', 'Umeaelv', '470'],
 ['S', 'Sweden', 'Dalaelv', '520'],
 ['S', 'Sweden', 'Vaesterdalaelv', '320'],
 ['S', 'Sweden', 'Oesterdalaelv', '241'],
 ['SF', 'Finland', 'Paatsjoki', '145'],
 ['N', 'Norway', 'Paatsjoki', '145'],
 ['R', 'Russia', 'Paatsjoki', '145'],
 ['SF', 'Finland', 'Ounasjoki', '300'],
 ['SF', 'Finland', 'Kemijoki', '550'],
 ['SF', 'Finland', 'Oulujoki', '107'],
 ['SF', 'Finland', 'Kymijoki', '203'],
 ['SF', 'Finland', 'Kokemaeenjoki', '121'],
 ['SF', 'Finland', 'Vuoksi', '162'],
 ['R', 'Russia', 'Vuoksi', '162'],
 ['GB', 'United Kingdom', 'Thames', '346'],
 ['NL', 'Netherlands', 'Maas', '925'],
 ['B', 'Belgium', 'Maas', '925'],
 ['F', 'France', 'Maas', '925'],
 ['F', 'France', 'Loire', '1013'],
 ['F', 'France', 'Garonne', '647'],
 ['E', 'Spain', 'Garonne', '647'],
 ['F', 'France', 'Rhone', '812'],
 ['CH', 'Switzerland', 'Rhone', '812'],
 ['F', 'France', 'Saone', '480'],
 ['F', 'France', 'Doubs', '453'],
 ['CH', 'Switzerland', 'Doubs', '453'],
 ['F', 'France', 'Isere', '290'],
 ['F', 'France', 'Seine', '776'],
 ['F', 'France', 'Marne', '514'],
 ['E', 'Spain', 'Tajo', '1007'],
 ['P', 'Portugal', 'Tajo', '1007'],
 ['E', 'Spain', 'Douro', '897'],
 ['P', 'Portugal', 'Douro', '897'],
 ['E', 'Spain', 'Guadiana', '742'],
 ['P', 'Portugal', 'Guadiana', '742'],
 ['E', 'Spain', 'Guadalquivir', '657'],
 ['E', 'Spain', 'Ebro', '925'],
 ['I', 'Italy', 'Po', '652'],
 ['CH', 'Switzerland', 'Ticino', '248'],
 ['I', 'Italy', 'Ticino', '248'],
 ['I', 'Italy', 'Adda', '313'],
 ['I', 'Italy', 'Mincio', '75'],
 ['I', 'Italy', 'Etsch', '415'],
 ['I', 'Italy', 'Tiber', '405'],
 ['I', 'Italy', 'Arno', '240'],
 ['SRB', 'Serbia', 'Donau', '2845'],
 ['A', 'Austria', 'Donau', '2845'],
 ['D', 'Germany', 'Donau', '2845'],
 ['H', 'Hungary', 'Donau', '2845'],
 ['HR', 'Croatia', 'Donau', '2845'],
 ['SK', 'Slovakia', 'Donau', '2845'],
 ['BG', 'Bulgaria', 'Donau', '2845'],
 ['RO', 'Romania', 'Donau', '2845'],
 ['MD', 'Moldova', 'Donau', '2845'],
 ['UA', 'Ukraine', 'Donau', '2845'],
 ['D', 'Germany', 'Breg', '45.9'],
 ['D', 'Germany', 'Brigach', '43'],
 ['D', 'Germany', 'Iller', '147'],
 ['A', 'Austria', 'Iller', '147'],
 ['D', 'Germany', 'Lech', '264'],
 ['A', 'Austria', 'Lech', '264'],
 ['D', 'Germany', 'Isar', '295'],
 ['A', 'Austria', 'Isar', '295'],
 ['D', 'Germany', 'Ammer', '168'],
 ['D', 'Germany', 'Würm', '35'],
 ['CH', 'Switzerland', 'Inn', '517'],
 ['A', 'Austria', 'Inn', '517'],
 ['D', 'Germany', 'Inn', '517'],
 ['D', 'Germany', 'Alz', '150'],
 ['A', 'Austria', 'Salzach', '225'],
 ['D', 'Germany', 'Salzach', '225'],
 ['A', 'Austria', 'Enns', '254'],
 ['CZ', 'Czech Republic', 'March', '358'],
 ['SK', 'Slovakia', 'March', '358'],
 ['A', 'Austria', 'March', '358'],
 ['A', 'Austria', 'Raab', '250'],
 ['H', 'Hungary', 'Raab', '250'],
 ['SK', 'Slovakia', 'Waag', '403'],
 ['I', 'Italy', 'Drau', '749'],
 ['A', 'Austria', 'Drau', '749'],
 ['SLO', 'Slovenia', 'Drau', '749'],
 ['HR', 'Croatia', 'Drau', '749'],
 ['H', 'Hungary', 'Drau', '749'],
 ['A', 'Austria', 'Mur', '453'],
 ['H', 'Hungary', 'Mur', '453'],
 ['SLO', 'Slovenia', 'Mur', '453'],
 ['HR', 'Croatia', 'Mur', '453'],
 ['H', 'Hungary', 'Theiss', '1308'],
 ['UA', 'Ukraine', 'Theiss', '1308'],
 ['SRB', 'Serbia', 'Theiss', '1308'],
 ['SLO', 'Slovenia', 'Save', '945'],
 ['HR', 'Croatia', 'Save', '945'],
 ['BIH', 'Bosnia and Herzegovina', 'Save', '945'],
 ['SRB', 'Serbia', 'Save', '945'],
 ['BIH', 'Bosnia and Herzegovina', 'Drina', '346'],
 ['SRB', 'Serbia', 'Drina', '346'],
 ['MNE', 'Montenegro', 'Tara', '140'],
 ['BIH', 'Bosnia and Herzegovina', 'Tara', '140'],
 ['MNE', 'Montenegro', 'Piva', '120'],
 ['BIH', 'Bosnia and Herzegovina', 'Piva', '120'],
 ['SRB', 'Serbia', 'Morava', '185'],
 ['SRB', 'Serbia', 'Western Morava', '308'],
 ['SRB', 'Serbia', 'Southern Morava', '295'],
 ['KOS', 'Kosovo', 'Southern Morava', '295'],
 ['MK', 'Macedonia', 'Southern Morava', '295'],
 ['RO', 'Romania', 'Olt', '615'],
 ['RO', 'Romania', 'Pruth', '953'],
 ['MD', 'Moldova', 'Pruth', '953'],
 ['UA', 'Ukraine', 'Pruth', '953'],
 ['UA', 'Ukraine', 'Dnjestr', '1352'],
 ['MD', 'Moldova', 'Dnjestr', '1352'],
 ['D', 'Germany', 'Weser', '440'],
 ['D', 'Germany', 'Aller', '211'],
 ['D', 'Germany', 'Leine', '281'],
 ['D', 'Germany', 'Werra', '292'],
 ['D', 'Germany', 'Fulda', '221'],
 ['D', 'Germany', 'Elbe', '1091'],
 ['CZ', 'Czech Republic', 'Elbe', '1091'],
 ['CZ', 'Czech Republic', 'Moldau', '440'],
 ['D', 'Germany', 'Rhein', '1324'],
 ['CH', 'Switzerland', 'Rhein', '1324'],
 ['FL', 'Liechtenstein', 'Rhein', '1324'],
 ['A', 'Austria', 'Rhein', '1324'],
 ['F', 'France', 'Rhein', '1324'],
 ['NL', 'Netherlands', 'Rhein', '1324'],
 ['D', 'Germany', 'Main', '524'],
 ['D', 'Germany', 'Mosel', '544'],
 ['L', 'Luxembourg', 'Mosel', '544'],
 ['F', 'France', 'Mosel', '544'],
 ['D', 'Germany', 'Saar', '227'],
 ['F', 'France', 'Saar', '227'],
 ['D', 'Germany', 'Neckar', '367'],
 ['CH', 'Switzerland', 'Aare', '288'],
 ['CH', 'Switzerland', 'Reuss', '164'],
 ['CH', 'Switzerland', 'Limmat', '36.3'],
 ['D', 'Germany', 'Oder', '866'],
 ['PL', 'Poland', 'Oder', '866'],
 ['CZ', 'Czech Republic', 'Oder', '866'],
 ['PL', 'Poland', 'Weichsel', '1047'],
 ['PL', 'Poland', 'Narew', '448'],
 ['BY', 'Belarus', 'Narew', '448'],
 ['PL', 'Poland', 'Western Bug', '772'],
 ['BY', 'Belarus', 'Western Bug', '772'],
 ['UA', 'Ukraine', 'Western Bug', '772'],
 ['MNE', 'Montenegro', 'Moraca', '99.5'],
 ['AL', 'Albania', 'Buna', '44'],
 ['MNE', 'Montenegro', 'Buna', '44'],
 ['AL', 'Albania', 'Drin', '152'],
 ['AL', 'Albania', 'White Drin', '175'],
 ['KOS', 'Kosovo', 'White Drin', '175'],
 ['AL', 'Albania', 'Black Drin', '133'],
 ['MK', 'Macedonia', 'Black Drin', '133'],
 ['IL', 'Israel', 'Jordan', '251'],
 ['WEST', 'West Bank', 'Jordan', '251'],
 ['JOR', 'Jordan', 'Jordan', '251'],
 ['SYR', 'Syria', 'Jordan', '251'],
 ['RL', 'Lebanon', 'Jordan', '251'],
 ['TR', 'Turkey', 'Kura', '1364'],
 ['GE', 'Georgia', 'Kura', '1364'],
 ['AZ', 'Azerbaijan', 'Kura', '1364'],
 ['IRQ', 'Iraq', 'Schatt al Arab', '193'],
 ['IR', 'Iran', 'Schatt al Arab', '193'],
 ['TR', 'Turkey', 'Tigris', '1900'],
 ['SYR', 'Syria', 'Tigris', '1900'],
 ['IRQ', 'Iraq', 'Tigris', '1900'],
 ['TR', 'Turkey', 'Euphrat', '2736'],
 ['SYR', 'Syria', 'Euphrat', '2736'],
 ['IRQ', 'Iraq', 'Euphrat', '2736'],
 ['TR', 'Turkey', 'Murat', '720'],
 ['TR', 'Turkey', 'Karasu', '720'],
 ['IR', 'Iran', 'Karun', '950'],
 ['R', 'Russia', 'Northern Dwina', '740'],
 ['R', 'Russia', 'Suchona', '558'],
 ['R', 'Russia', 'Petschora', '1809'],
 ['R', 'Russia', 'Newa', '74'],
 ['R', 'Russia', 'Swir', '224'],
 ['R', 'Russia', 'Narva', '78'],
 ['EW', 'Estonia', 'Narva', '78'],
 ['BY', 'Belarus', 'Western Dwina', '1020'],
 ['LV', 'Latvia', 'Western Dwina', '1020'],
 ['R', 'Russia', 'Western Dwina', '1020'],
 ['UA', 'Ukraine', 'Dnister', '1352'],
 ['MD', 'Moldova', 'Dnister', '1352'],
 ['BY', 'Belarus', 'Dnepr', '2201'],
 ['UA', 'Ukraine', 'Dnepr', '2201'],
 ['R', 'Russia', 'Dnepr', '2201'],
 ['BY', 'Belarus', 'Prypjat', '775'],
 ['UA', 'Ukraine', 'Prypjat', '775'],
 ['R', 'Russia', 'Don', '1870'],
 ['R', 'Russia', 'Volga', '3531'],
 ['R', 'Russia', 'Oka', '1480'],
 ['R', 'Russia', 'Kama', '1805'],
 ['R', 'Russia', 'Ural', '2428'],
 ['KAZ', 'Kazakhstan', 'Ural', '2428'],
 ['R', 'Russia', 'Ob', '3650'],
 ['R', 'Russia', 'Irtysch', '4248'],
 ['KAZ', 'Kazakhstan', 'Irtysch', '4248'],
 ['CN', 'China', 'Irtysch', '4248'],
 ['R', 'Russia', 'Tobol', '1591'],
 ['KAZ', 'Kazakhstan', 'Tobol', '1591'],
 ['R', 'Russia', 'Ischim', '2450'],
 ['KAZ', 'Kazakhstan', 'Ischim', '2450'],
 ['R', 'Russia', 'Katun', '688'],
 ['R', 'Russia', 'Jenissej', '4092'],
 ['R', 'Russia', 'Angara', '1779'],
 ['R', 'Russia', 'Selenge', '992'],
 ['MNG', 'Mongolia', 'Selenge', '992'],
 ['R', 'Russia', 'Chatanga', '1636'],
 ['R', 'Russia', 'Lena', '4400'],
 ['R', 'Russia', 'Amur', '2824'],
 ['CN', 'China', 'Amur', '2824'],
 ['R', 'Russia', 'Schilka', '560'],
 ['R', 'Russia', 'Argun', '1620'],
 ['CN', 'China', 'Argun', '1620'],
 ['R', 'Russia', 'Kolyma', '2129'],
 ['KAZ', 'Kazakhstan', 'Syrdarja', '2129'],
 ['UZB', 'Uzbekistan', 'Syrdarja', '2129'],
 ['TAD', 'Tajikistan', 'Syrdarja', '2129'],
 ['UZB', 'Uzbekistan', 'Naryn', '807'],
 ['KGZ', 'Kyrgyzstan', 'Naryn', '807'],
 ['TAD', 'Tajikistan', 'Amudarja', '1415'],
 ['AFG', 'Afghanistan', 'Amudarja', '1415'],
 ['TM', 'Turkmenistan', 'Amudarja', '1415'],
 ['UZB', 'Uzbekistan', 'Amudarja', '1415'],
 ['AFG', 'Afghanistan', 'Pjandsh', '1141'],
 ['TAD', 'Tajikistan', 'Pjandsh', '1141'],
 ['TAD', 'Tajikistan', 'Bartang', '133'],
 ['TAD', 'Tajikistan', 'Murgab', '395'],
 ['AFG', 'Afghanistan', 'Murgab', '395'],
 ['CN', 'China', 'Ili', '1001'],
 ['KAZ', 'Kazakhstan', 'Ili', '1001'],
 ['CN', 'China', 'Tarim-Yarkend', '3260'],
 ['CN', 'China', 'Hwangho', '4845'],
 ['CN', 'China', 'Jangtse', '6380'],
 ['CN', 'China', 'Mekong', '4350'],
 ['LAO', 'Laos', 'Mekong', '4350'],
 ['THA', 'Thailand', 'Mekong', '4350'],
 ['K', 'Cambodia', 'Mekong', '4350'],
 ['VN', 'Vietnam', 'Mekong', '4350'],
 ['MYA', 'Myanmar', 'Saluen', '2980'],
 ['CN', 'China', 'Saluen', '2980'],
 ['MYA', 'Myanmar', 'Irawaddy', '2170'],
 ['CN', 'China', 'Irawaddy', '2170'],
 ['IND', 'India', 'Ganges', '2511'],
 ['BD', 'Bangladesh', 'Ganges', '2511'],
 ['CN', 'China', 'Brahmaputra', '2896'],
 ['IND', 'India', 'Brahmaputra', '2896'],
 ['BD', 'Bangladesh', 'Brahmaputra', '2896'],
 ['PK', 'Pakistan', 'Indus', '3180'],
 ['IND', 'India', 'Indus', '3180'],
 ['CN', 'China', 'Indus', '3180'],
 ['RI', 'Indonesia', 'Asahan', '150'],
 ['CDN', 'Canada', 'Yukon River', '3185'],
 ['USA', 'United States', 'Yukon River', '3185'],
 ['CDN', 'Canada', 'Mackenzie River', '1903'],
 ['CDN', 'Canada', 'Nelson River', '664'],
 ['CDN', 'Canada', 'Saskatchewan River', '1392'],
 ['CDN', 'Canada', 'Saint Lawrence River', '1197'],
 ['USA', 'United States', 'Saint Lawrence River', '1197'],
 ['CDN', 'Canada', 'Niagara River', '58'],
 ['USA', 'United States', 'Niagara River', '58'],
 ['CDN', 'Canada', 'Detroit River', '200'],
 ['USA', 'United States', 'Detroit River', '200'],
 ['CDN', 'Canada', 'Saint Marys River', '120'],
 ['USA', 'United States', 'Saint Marys River', '120'],
 ['USA', 'United States', 'Straits of Mackinac', '0.1'],
 ['CDN', 'Canada', 'Manicouagan', '560'],
 ['CDN', 'Canada', 'Riviere Richelieu', '124'],
 ['USA', 'United States', 'Merrimack River', '177'],
 ['USA', 'United States', 'Connecticut River', '655'],
 ['USA', 'United States', 'Hudson River', '493'],
 ['USA', 'United States', 'Mississippi', '3778'],
 ['USA', 'United States', 'Missouri', '4130'],
 ['USA', 'United States', 'Arkansas', '2334'],
 ['USA', 'United States', 'Ohio River', '1579'],
 ['USA', 'United States', 'Allegheny River', '523'],
 ['USA', 'United States', 'Tennessee', '1049'],
 ['CDN', 'Canada', 'Columbia River', '1953'],
 ['USA', 'United States', 'Columbia River', '1953'],
 ['USA', 'United States', 'Truckee River', '225'],
 ['MEX', 'Mexico', 'Colorado', '2330'],
 ['USA', 'United States', 'Colorado', '2330'],
 ['MEX', 'Mexico', 'Rio Grande', '3034'],
 ['USA', 'United States', 'Rio Grande', '3034'],
 ['MEX', 'Mexico', 'Rio Lerma', '965'],
 ['NIC', 'Nicaragua', 'Rio San Juan', '199'],
 ['CR', 'Costa Rica', 'Rio San Juan', '199'],
 ['BOL', 'Bolivia', 'Rio Desaguadero', '383'],
 ['CO', 'Colombia', 'Rio Magdalena', '1538'],
 ['YV', 'Venezuela', 'Orinoco', '2140'],
 ['CO', 'Colombia', 'Orinoco', '2140'],
 ['CO', 'Colombia', 'Amazonas', '6448'],
 ['BR', 'Brazil', 'Amazonas', '6448'],
 ['PE', 'Peru', 'Amazonas', '6448'],
 ['BR', 'Brazil', 'Rio Negro', '2253'],
 ['CO', 'Colombia', 'Rio Negro', '2253'],
 ['BR', 'Brazil', 'Rio Madeira', '1450'],
 ['BOL', 'Bolivia', 'Rio Madeira', '1450'],
 ['BOL', 'Bolivia', 'Rio Mamore', '1931'],
 ['BR', 'Brazil', 'Tocantins', '2640'],
 ['BR', 'Brazil', 'Rio Sao Francisco', '2830'],
 ['RA', 'Argentina', 'Parana', '3998'],
 ['BR', 'Brazil', 'Parana', '3998'],
 ['PY', 'Paraguay', 'Parana', '3998'],
 ['RA', 'Argentina', 'Paraguay', '2549'],
 ['BR', 'Brazil', 'Paraguay', '2549'],
 ['PY', 'Paraguay', 'Paraguay', '2549'],
 ['BR', 'Brazil', 'Uruguay', '1790'],
 ['ROU', 'Uruguay', 'Uruguay', '1790'],
 ['RA', 'Argentina', 'Uruguay', '1790'],
 ['RG', 'Guinea', 'Gambia', '1120'],
 ['WAG', 'Gambia', 'Gambia', '1120'],
 ['SN', 'Senegal', 'Gambia', '1120'],
 ['RMM', 'Mali', 'Senegal', '1430'],
 ['RIM', 'Mauritania', 'Senegal', '1430'],
 ['SN', 'Senegal', 'Senegal', '1430'],
 ['RG', 'Guinea', 'Senegal', '1430'],
 ['GH', 'Ghana', 'Volta', '1500'],
 ['BF', 'Burkina Faso', 'Volta', '1500'],
 ['RMM', 'Mali', 'Niger', '4184'],
 ['RN', 'Niger', 'Niger', '4184'],
 ['WAN', 'Nigeria', 'Niger', '4184'],
 ['RG', 'Guinea', 'Niger', '4184'],
 ['RMM', 'Mali', 'Bani', '430'],
 ['CI', 'Cote dIvoire', 'Bani', '430'],
 ['WAN', 'Nigeria', 'Benue', '1400'],
 ['CAM', 'Cameroon', 'Benue', '1400'],
 ['TCH', 'Chad', 'Schari', '1400'],
 ['CAM', 'Cameroon', 'Schari', '1400'],
 ['RCA', 'Central African Republic', 'Schari', '1400'],
 ['SUD', 'Sudan', 'Atbara', '1120'],
 ['ETH', 'Ethiopia', 'Atbara', '1120'],
 ['SUD', 'Sudan', 'Blue Nile', '1783'],
 ['ETH', 'Ethiopia', 'Blue Nile', '1783'],
 ['SSD', 'South Sudan', 'Sobat', '740'],
 ['SSD', 'South Sudan', 'Pibor', '320'],
 ['ETH', 'Ethiopia', 'Pibor', '320'],
 ['SSD', 'South Sudan', 'Baro', '306'],
 ['ETH', 'Ethiopia', 'Baro', '306'],
 ['SSD', 'South Sudan', 'Bahr el-Ghasal', '716'],
 ['ZRE', 'Zaire', 'Semliki', '230'],
 ['EAU', 'Uganda', 'Semliki', '230'],
 ['EAT', 'Tanzania', 'Akagera', '275'],
 ['RWA', 'Rwanda', 'Akagera', '275'],
 ['EAU', 'Uganda', 'Akagera', '275'],
 ['ETH', 'Ethiopia', 'Jubba', '1658'],
 ['SP', 'Somalia', 'Jubba', '1658'],
 ['ETH', 'Ethiopia', 'Shabelle', '1820'],
 ['SP', 'Somalia', 'Shabelle', '1820'],
 ['CAM', 'Cameroon', 'Sanaga', '918'],
 ['RCB', 'Congo', 'Zaire', '4374'],
 ['ZRE', 'Zaire', 'Zaire', '4374'],
 ['CAM', 'Cameroon', 'Sanga', '530'],
 ['RCA', 'Central African Republic', 'Sanga', '530'],
 ['RCB', 'Congo', 'Sanga', '530'],
 ['ZRE', 'Zaire', 'Ubangi', '1120'],
 ['RCA', 'Central African Republic', 'Ubangi', '1120'],
 ['RCB', 'Congo', 'Ubangi', '1120'],
 ['ZRE', 'Zaire', 'Bomu', '280'],
 ['RCA', 'Central African Republic', 'Bomu', '280'],
 ['ZRE', 'Zaire', 'Uelle', '1130'],
 ['ZRE', 'Zaire', 'Kwa', '100'],
 ['ZRE', 'Zaire', 'Fimi', '200'],
 ['ZRE', 'Zaire', 'Lukenie', '900'],
 ['ANG', 'Angola', 'Kasai', '1983'],
 ['ZRE', 'Zaire', 'Kasai', '1983'],
 ['ANG', 'Angola', 'Cuango', '1100'],
 ['ZRE', 'Zaire', 'Cuango', '1100'],
 ['ANG', 'Angola', 'Cuilo', '970'],
 ['ZRE', 'Zaire', 'Cuilo', '970'],
 ['ZRE', 'Zaire', 'Ruki', '130'],
 ['ZRE', 'Zaire', 'Busira', '830'],
 ['ZRE', 'Zaire', 'Tshuapa', '1300'],
 ['ZRE', 'Zaire', 'Lulua', '970'],
 ['ZRE', 'Zaire', 'Lomami', '1450'],
 ['ZRE', 'Zaire', 'Aruwimi', '1287'],
 ['ZRE', 'Zaire', 'Lukuga', '350'],
 ['ZRE', 'Zaire', 'Ruzizi', '104'],
 ['RWA', 'Rwanda', 'Ruzizi', '104'],
 ['BI', 'Burundi', 'Ruzizi', '104'],
 ['ZRE', 'Zaire', 'Luvua', '350'],
 ['ZRE', 'Zaire', 'Luapula', '300'],
 ['Z', 'Zambia', 'Luapula', '300'],
 ['ANG', 'Angola', 'Zambezi', '2574'],
 ['NAM', 'Namibia', 'Zambezi', '2574'],
 ['RB', 'Botswana', 'Zambezi', '2574'],
 ['Z', 'Zambia', 'Zambezi', '2574'],
 ['ZW', 'Zimbabwe', 'Zambezi', '2574'],
 ['MOC', 'Mozambique', 'Zambezi', '2574'],
 ['MW', 'Malawi', 'Chire', '402'],
 ['MOC', 'Mozambique', 'Chire', '402'],
 ['ANG', 'Angola', 'Okavango', '1700'],
 ['NAM', 'Namibia', 'Okavango', '1700'],
 ['RB', 'Botswana', 'Okavango', '1700'],
 ['RSA', 'South Africa', 'Limpopo', '1750'],
 ['MOC', 'Mozambique', 'Limpopo', '1750'],
 ['ZW', 'Zimbabwe', 'Limpopo', '1750'],
 ['RB', 'Botswana', 'Limpopo', '1750'],
 ['LS', 'Lesotho', 'Oranje', '2160'],
 ['NAM', 'Namibia', 'Oranje', '2160'],
 ['RSA', 'South Africa', 'Oranje', '2160'],
 ['RSA', 'South Africa', 'Vaal', '1251'],
 ['AUS', 'Australia', 'Murray River', '2589'],
 ['AUS', 'Australia', 'Darling River', '2739'],
 ['AUS', 'Australia', 'Murrumbidgee River', '1579'],
 ['AUS', 'Australia', 'Eucumbene River', '83'],
 ['AUS', 'Australia', 'Snowy River', '403']]

In [66]:
# Create a dataframe 'rdf' from the list 'r_list'
rdf = pd.DataFrame(r_list, columns=['Country_Code', 'Country_Name', 'River_Name', 'River_Length'])

In [67]:
# Define the data type of 'River_Length' as float
rdf.River_Length = rdf.River_Length.astype(float)

In [68]:
# Country with the Largest River
rdf.sort_values('River_Length', ascending=False).head()

    Country_Code Country_Name River_Name  River_Length
300           PE         Peru   Amazonas        6448.0
298           CO     Colombia   Amazonas        6448.0
299           BR       Brazil   Amazonas        6448.0
240           CN        China    Jangtse        6380.0
239           CN        China    Hwangho        4845.0

In [69]:
rdf[rdf.River_Name == 'Amazonas']

    Country_Code Country_Name River_Name  River_Length
298           CO     Colombia   Amazonas        6448.0
299           BR       Brazil   Amazonas        6448.0
300           PE         Peru   Amazonas        6448.0

# b) Largest Lake

In [54]:
# Define a list 
l_list = []
# Loop over all the lakes and find thier names and areas
for el in document.iterfind('lake'):
    l_name = el.find('name').text
    l_area = el.find('area')
    if l_area != None:
        l_ar = l_area.text
        # Loops over all the countries and splits in case of multiple countries
        for se in el.attrib['country'].split():
            l_co = cntry[se]
            l_list.append([se, l_co, l_name, l_ar])

In [55]:
# Create a data frame ldf from the list l_list
ldf = pd.DataFrame(l_list, columns=['Country_Code', 'Country_Name', 'Lake_Name', 'Lake_Area'])

In [56]:
# Change the data type of 'Lake_Area' to float
ldf.Lake_Area = ldf.Lake_Area.astype(float)

In [73]:
# Country with the largest lake
ldf.sort_values('Lake_Area', ascending=False).head(6)

    Country_Code   Country_Name      Lake_Name  Lake_Area
68             R         Russia    Caspian Sea   386400.0
69            AZ     Azerbaijan    Caspian Sea   386400.0
70           KAZ     Kazakhstan    Caspian Sea   386400.0
71            IR           Iran    Caspian Sea   386400.0
72            TM   Turkmenistan    Caspian Sea   386400.0
151          USA  United States  Lake Superior    82103.0

In [74]:
ldf[ldf.Lake_Name == 'Caspian Sea']

   Country_Code  Country_Name    Lake_Name  Lake_Area
68            R        Russia  Caspian Sea   386400.0
69           AZ    Azerbaijan  Caspian Sea   386400.0
70          KAZ    Kazakhstan  Caspian Sea   386400.0
71           IR          Iran  Caspian Sea   386400.0
72           TM  Turkmenistan  Caspian Sea   386400.0

# c) Airport at highest elevation

In [79]:
# define a list
a_list = []
# Loop over all the airports and find thier names and elevation
for e in document.iterfind('airport'):
    a_name = e.find('name').text
    a_elev = e.find('elevation')
    if a_elev != None:
        air_elev = a_elev.text
        # Loops over all the countries and splits in case of multiple values
        for se in e.attrib['country'].split():
            a_co = cntry[se]
            a_list.append([se, a_co, a_name, air_elev])

In [80]:
# Create a data frame a_df from the list a_list
a_df = pd.DataFrame(a_list, columns = ['Country_Code', 'Country_Name', 'Airport_Name', 'Airport_Elevation'])

In [82]:
# Covert the data type of 'Airport_Elevation' to float
a_df.Airport_Elevation = a_df.Airport_Elevation.astype(float)

In [84]:
# Display the country with highest elevation
a_df.sort_values('Airport_Elevation', ascending=False).head()

,Country_Code,Country_Name,Airport_Name,Airport_Elevation
80,BOL,Bolivia,El Alto Intl,4063.0
219,CN,China,Lhasa-Gonggar,4005.0
241,CN,China,Yushu Batang,3963.0
813,PE,Peru,Juliaca,3827.0
815,PE,Peru,Teniente Alejandro Velasco Astete Intl,3311.0

In [85]:
a_df.sort_values('Airport_Elevation', ascending=False).head(1)

   Country_Code Country_Name  Airport_Name  Airport_Elevation
80          BOL      Bolivia  El Alto Intl             4063.0