# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [156]:
import numpy as np
import pandas as pd
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [157]:
document_tree = ET.parse('E:\Data Science\Assignments\data_wrangling_xml\data\mondial_database_less.xml' )

In [158]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [159]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':',)
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [180]:
document = ET.parse( 'E:\Data Science\Assignments\data_wrangling_xml\data\mondial_database.xml' )

# 1. 10 countries with the lowest infant mortality rates

In [181]:
# root is an instance of Element class
root = document.getroot()
root

In [182]:
# Create an empty dictionary lim
lim = {}
# Loop through each subelement in element country
for el in document.iter('country'):
    # Get the name of each country
    cntry = el.find('name')
    # Get the infant_mortality of each country
    inf = el.find('infant_mortality')
    if cntry is not None:
        if inf is not None:
            # Create a key value pair and fill the dictionary 
            lim[cntry.text] = float(inf.text)
        #else:
            #lim[cntry.text] = np.nan

In [183]:
lim

{'Afghanistan': 117.23,
 'Albania': 13.19,
 'Algeria': 21.76,
 'American Samoa': 8.92,
 'Andorra': 3.69,
 'Angola': 79.99,
 'Anguilla': 3.4,
 'Antigua and Barbuda': 13.29,
 'Argentina': 9.96,
 'Armenia': 13.97,
 'Aruba': 11.74,
 'Australia': 4.43,
 'Austria': 4.16,
 'Azerbaijan': 26.67,
 'Bahamas': 12.5,
 'Bahrain': 9.68,
 'Bangladesh': 45.67,
 'Barbados': 10.93,
 'Belarus': 3.64,
 'Belgium': 4.18,
 'Belize': 20.31,
 'Benin': 57.09,
 'Bermuda': 2.48,
 'Bhutan': 37.89,
 'Bolivia': 38.61,
 'Bosnia and Herzegovina': 5.84,
 'Botswana': 9.38,
 'Brazil': 19.21,
 'British Virgin Islands': 13.45,
 'Brunei': 10.48,
 'Bulgaria': 15.08,
 'Burkina Faso': 76.8,
 'Burundi': 63.44,
 'Cambodia': 51.36,
 'Cameroon': 55.1,
 'Canada': 4.71,
 'Cape Verde': 24.28,
 'Cayman Islands': 6.21,
 'Central African Republic': 92.86,
 'Chad': 90.3,
 'Chile': 7.02,
 'China': 14.79,
 'Colombia': 15.02,
 'Comoros': 65.31,
 'Congo': 59.34,
 'Cook Islands': 14.33,
 'Costa Rica': 8.7,
 'Cote dIvoire': 60.16,
 'Croatia': 5.87,
 'Cuba': 4.7,
 'Cyprus': 8.54,
 'Czech Republic': 2.63,
 'Denmark': 4.1,
 'Djibouti': 50.2,
 'Dominica': 11.61,
 'Dominican Republic': 19.63,
 'Ecuador': 17.93,
 'Egypt': 22.41,
 'El Salvador': 18.44,
 'Equatorial Guinea': 71.12,
 'Eritrea': 38.44,
 'Estonia': 6.7,
 'Ethiopia': 55.77,
 'Faroe Islands': 5.71,
 'Fiji': 10.2,
 'Finland': 3.36,
 'France': 3.31,
 'French Guiana': 14.6,
 'French Polynesia': 4.78,
 'Gabon': 47.03,
 'Gambia': 65.74,
 'Gaza Strip': 30.6,
 'Georgia': 16.68,
 'Germany': 3.46,
 'Ghana': 38.52,
 'Gibraltar': 6.29,
 'Greece': 4.78,
 'Greenland': 9.42,
 'Grenada': 10.5,
 'Guadeloupe': 8.3,
 'Guam': 5.51,
 'Guatemala': 23.51,
 'Guernsey': 3.47,
 'Guinea': 55.24,
 'Guinea-Bissau': 90.92,
 'Guyana': 33.56,
 'Haiti': 49.43,
 'Honduras': 18.72,
 'Hong Kong': 2.73,
 'Hungary': 5.09,
 'Iceland': 3.15,
 'India': 43.19,
 'Indonesia': 25.16,
 'Iran': 39.0,
 'Iraq': 37.53,
 'Ireland': 3.74,
 'Isle of Man': 4.17,
 'Israel': 3.98,
 'Italy': 3.31,
 'Jamaica': 13.69,
 'Japan': 2.13,
 'Jersey': 3.86,
 'Jordan': 15.73,
 'Kazakhstan': 21.61,
 'Kenya': 40.71,
 'Kiribati': 35.37,
 'Kuwait': 7.51,
 'Kyrgyzstan': 28.71,
 'Laos': 54.53,
 'Latvia': 7.91,
 'Lebanon': 7.98,
 'Lesotho': 50.48,
 'Liberia': 69.19,
 'Libya': 11.87,
 'Liechtenstein': 4.33,
 'Lithuania': 6.0,
 'Luxembourg': 4.28,
 'Macao': 3.13,
 'Macedonia': 7.9,
 'Madagascar': 44.88,
 'Malawi': 48.01,
 'Malaysia': 13.69,
 'Maldives': 24.59,
 'Mali': 104.34,
 'Malta': 3.59,
 'Marshall Islands': 21.39,
 'Martinique': 7.1,
 'Mauritania': 56.06,
 'Mauritius': 10.59,
 'Mayotte': 56.29,
 'Mexico': 12.58,
 'Micronesia': 21.93,
 'Moldova': 12.93,
 'Monaco': 1.81,
 'Mongolia': 23.15,
 'Montserrat': 13.66,
 'Morocco': 24.52,
 'Mozambique': 72.42,
 'Myanmar': 44.91,
 'Namibia': 45.64,
 'Nauru': 8.21,
 'Nepal': 40.43,
 'Netherlands': 3.66,
 'New Caledonia': 5.46,
 'New Zealand': 4.59,
 'Nicaragua': 20.36,
 'Niger': 86.27,
 'Nigeria': 74.09,
 'North Korea': 24.5,
 'Northern Mariana Islands': 5.5,
 'Norway': 2.48,
 'Oman': 14.0,
 'Pakistan': 57.48,
 'Palau': 11.46,
 'Panama': 10.7,
 'Papua New Guinea': 39.67,
 'Paraguay': 20.75,
 'Peru': 20.21,
 'Philippines': 17.64,
 'Poland': 6.19,
 'Portugal': 4.48,
 'Puerto Rico': 7.73,
 'Qatar': 6.42,
 'Reunion': 7.5,
 'Romania': 10.16,
 'Russia': 7.08,
 'Rwanda': 59.59,
 'Saint Helena': 17.63,
 'Saint Kitts and Nevis': 8.98,
 'Saint Lucia': 11.75,
 'Saint Pierre and Miquelon': 6.95,
 'Saint Vincent and the Grenadines': 13.07,
 'Samoa': 20.5,
 'San Marino': 4.52,
 'Sao Tome and Principe': 49.16,
 'Saudi Arabia': 14.58,
 'Senegal': 52.72,
 'Serbia': 6.16,
 'Seychelles': 10.77,
 'Sierra Leone': 73.29,
 'Singapore': 2.53,
 'Sint Maarten': 9.05,
 'Slovakia': 5.35,
 'Slovenia': 4.04,
 'Solomon Islands': 16.17,
 'Somalia': 100.14,
 'South Africa': 41.61,
 'South Korea': 3.93,
 'South Sudan': 68.16,
 'Spain': 3.33,
 'Sri Lanka': 9.02,
 'Sudan': 52.86,
 'Suriname': 27.07,
 'Swaziland': 54.82,
 'Sweden': 2.6,
 'Switzerland': 3.73,
 'Syria': 15.79,
 'Taiwan': 4.49,
 'Tajikistan': 35.03,
 'Tanzania': 43.74,
 'Thailand': 9.86,
 'Timor-Leste': 38.79,
 'Togo': 46.73,
 'Tonga': 12.36,
 'Trinidad and Tobago': 24.82,
 'Tunisia': 23.19,
 'Turkey': 21.43,
 'Turkmenistan': 38.13,
 'Turks and Caicos Islands': 10.97,
 'Tuvalu': 31.69,
 'Uganda': 60.82,
 'Ukraine': 8.1,
 'United Arab Emirates': 10.92,
 'United Kingdom': 4.44,
 'United States': 6.17,
 'Uruguay': 8.97,
 'Uzbekistan': 19.84,
 'Vanuatu': 16.41,
 'Venezuela': 19.33,
 'Vietnam': 18.99,
 'Virgin Islands': 6.79,
 'Wallis and Futuna': 4.49,
 'West Bank': 28.6,
 'Western Sahara': 145.82,
 'Yemen': 50.41,
 'Zaire': 73.15,
 'Zambia': 66.62,
 'Zimbabwe': 26.55}

In [184]:
# Create a DataFrame (infdf) from the dictionary (lim)
infdf = pd.DataFrame(list(lim.items()), columns=['Country', 'Infant_Mortality'])

In [185]:
infdf

                    Country  Infant_Mortality
0                   Albania             13.19
1                    Greece              4.78
2                 Macedonia              7.90
3                    Serbia              6.16
4                   Andorra              3.69
5                    France              3.31
6                     Spain              3.33
7                   Austria              4.16
8            Czech Republic              2.63
9                   Germany              3.46
10                  Hungary              5.09
11                    Italy              3.31
12            Liechtenstein              4.33
13                 Slovakia              5.35
14                 Slovenia              4.04
15              Switzerland              3.73
16                  Belarus              3.64
17                   Latvia              7.91
18                Lithuania              6.00
19                   Poland              6.19
20                  Ukraine              8.10
21                   Russia              7.08
22                  Belgium              4.18
23               Luxembourg              4.28
24              Netherlands              3.66
25   Bosnia and Herzegovina              5.84
26                  Croatia              5.87
27                 Bulgaria             15.08
28                  Romania             10.16
29                   Turkey             21.43
..                      ...               ...
198                    Chad             90.30
199       Equatorial Guinea             71.12
200                   Gabon             47.03
201              Cape Verde             24.28
202                   Sudan             52.86
203             South Sudan             68.16
204                 Comoros             65.31
205                  Guinea             55.24
206                 Liberia             69.19
207                Djibouti             50.20
208                 Eritrea             38.44
209                Ethiopia             55.77
210                 Somalia            100.14
211                   Kenya             40.71
212                  Gambia             65.74
213                 Senegal             52.72
214           Guinea-Bissau             90.92
215            Sierra Leone             73.29
216                  Uganda             60.82
217                 Lesotho             50.48
218              Madagascar             44.88
219                  Malawi             48.01
220              Mozambique             72.42
221               Mauritius             10.59
222                 Mayotte             56.29
223               Swaziland             54.82
224                 Reunion              7.50
225            Saint Helena             17.63
226   Sao Tome and Principe             49.16
227              Seychelles             10.77

[228 rows x 2 columns]

In [186]:
# Sort the countries with lowest infant mortality rates and display the first 'ten' in the list
infdf = infdf.sort_values('Infant_Mortality').head(10)
infdf

            Country  Infant_Mortality
36           Monaco              1.81
90            Japan              2.13
109         Bermuda              2.48
34           Norway              2.48
98        Singapore              2.53
35           Sweden              2.60
8    Czech Republic              2.63
72        Hong Kong              2.73
73            Macao              3.13
39          Iceland              3.15

# 2. 10 cities with the largest population

In [188]:
# Looking carefully at the XML Document tree, one can notice that some cities are subelements to the subelement province.
# To retrieve those cities and population I defined the path "./country/province/city"
#Create a dictionary 'provdict'
provdict = {}
for cty in document.findall("./country/province/city"):
    # Retreive all the names of the cities, and corresponding population figures
    name = cty.find('name')
    pop = cty.findall('population')
    if pop:
        # To retrieve the most recent year's population
        provdict[name.text] = int(pop[len(pop)-1].text)

In [189]:
provdict

{'Kavala': 58790,
 'Athina': 664046,
 'Peiraias': 163688,
 'Peristeri': 139981,
 'Acharnes': 106943,
 'Patra': 213984,
 'Kerkyra': 102071,
 'Ioannina': 112486,
 'Thessaloniki': 325182,
 'Iraklio': 173993,
 'Chania': 108642,
 'Rhodes': 115490,
 'Lamia': 75315,
 'Chalkida': 102223,
 'Larissa': 162591,
 'Volos': 144449,
 'Karyes': 233,
 'Strasbourg': 272222,
 'Mulhouse': 110351,
 'Bordeaux': 239399,
 'Clermont-Ferrand': 140957,
 'Caen': 108793,
 'Rennes': 208033,
 'Brest': 309764,
 'Dijon': 151672,
 'Orléans': 114185,
 'Tours': 134633,
 'Reims': 180752,
 'Ajaccio': 66245,
 'Besançon': 115879,
 'Rouen': 111553,
 'Le Havre': 174156,
 'Paris': 2249975,
 'Boulogne-Billancourt': 116220,
 'Argenteuil': 104282,
 'Montreuil': 103068,
 'Saint-Paul': 103916,
 'Montpellier': 264538,
 'Nîmes': 144940,
 'Perpignan': 118238,
 'Limoges': 137758,
 'Metz': 119962,
 'Nancy': 105382,
 'Toulouse': 447340,
 'Lille': 227533,
 'Nantes': 287845,
 'Angers': 148803,
 'Le Mans': 143240,
 'Amiens': 133327,
 'Poitiers': 87646,
 'Marseille': 850636,
 'Nice': 344064,
 'Toulon': 163974,
 'Aix-en-Provence': 140684,
 'Lyon': 491268,
 'Grenoble': 157424,
 'Saint-Étienne': 170049,
 'Villeurbanne': 145034,
 'Sevilla': 698042,
 'Almería': 189680,
 'Cádiz': 124014,
 'Córdoba': 1267774,
 'Granada': 241003,
 'Huelva': 147808,
 'Málaga': 561435,
 'Jerez de la Frontera': 211784,
 'Jaén': 116469,
 'Algeciras': 117695,
 'Marbella': 135124,
 'Dos Hermanas': 128433,
 'Zaragoza': 678115,
 'Oviedo': 225005,
 'Gijón': 276969,
 'Palma de Mallorca': 402044,
 'Vitoria-Gasteiz': 240753,
 'Bilbao': 351356,
 'Barakaldo': 100064,
 'Donostia': 185512,
 'Santa Cruz de Tenerife': 204476,
 'San Cristóbal de La Laguna': 152025,
 'Las Palmas de Gran Canaria': 381271,
 'Telde': 101080,
 'Santander': 178095,
 'Valladolid': 311682,
 'Burgos': 178864,
 'León': 1238962,
 'Salamanca': 160169,
 'Albacete': 171999,
 'Barcelona': 410643,
 'Lleida': 137283,
 'Tarragona': 133223,
 'Reus': 106849,
 'Hospitalet de Llobregat': 256509,
 'Badalona': 219241,
 'Sabadell': 206949,
 'Terrassa': 214406,
 'Santa Coloma de Gramenet': 119391,
 'Mataró': 123367,
 'Badajoz': 151214,
 'A Coruña': 245053,
 'Vigo': 295623,
 'Ourense': 107314,
 'Madrid': 3198645,
 'Móstoles': 203493,
 'Leganés': 185758,
 'Alcalá de Henares': 200505,
 'Fuenlabrada': 196986,
 'Getafe': 168642,
 'Alcorcón': 167217,
 'Torrejón de Ardoz': 123213,
 'Parla': 122045,
 'Alcobendas': 110351,
 'Murcia': 437667,
 'Cartagena': 990179,
 'Pamplona': 195943,
 'Logroño': 152698,
 'Valencia': 832229,
 'Alicante': 329325,
 'Elche': 227417,
 'Castellón de la Plana': 176298,
 'Eisenstadt': 13485,
 'Klagenfurt': 96531,
 'Villach': 59942,
 'Wien': 1761738,
 'Linz': 193511,
 'Wels': 59239,
 'Innsbruck': 124386,
 'Graz': 269211,
 'Salzburg': 146676,
 'St. Pölten': 52100,
 'Praha': 1289556,
 'České Budějovice': 95589,
 'Brno': 404820,
 'Karlovy Vary': 53310,
 'Jihlava': 51162,
 'Hradec Králové': 95594,
 'Liberec': 104973,
 'Ostrava': 311508,
 'Olomouc': 101954,
 'Pardubice': 90844,
 'Plzeň': 171346,
 'Ústí nad Labem': 98596,
 'Zlín': 77137,
 'Stuttgart': 585890,
 'Mannheim': 290117,
 'Karlsruhe': 289173,
 'Freiburg': 209628,
 'Heidelberg': 146751,
 'Heilbronn': 116059,
 'Pforzheim': 114411,
 'Ulm': 116761,
 'Reutlingen': 109799,
 'München': 1348335,
 'Nürnberg': 486314,
 'Augsburg': 267767,
 'Würzburg': 124297,
 'Regensburg': 135403,
 'Ingolstadt': 124927,
 'Fürth': 115613,
 'Erlangen': 103719,
 'Berlin': 3292365,
 'Potsdam': 156021,
 'Cottbus': 99984,
 'Bremen': 542707,
 'Bremerhaven': 108156,
 'Hamburg': 1706696,
 'Wiesbaden': 269121,
 'Frankfurt am Main': 667925,
 'Kassel': 190765,
 'Darmstadt': 143499,
 'Offenbach am Main': 113443,
 'Schwerin': 91293,
 'Rostock': 200265,
 'Hannover': 506416,
 'Braunschweig': 242537,
 'Osnabrück': 153699,
 'Oldenburg': 157267,
 'Göttingen': 115843,
 'Wolfsburg': 119984,
 'Salzgitter': 98895,
 'Hildesheim': 99554,
 'Düsseldorf': 586291,
 'Köln': 1005775,
 'Essen': 566201,
 'Dortmund': 571143,
 'Duisburg': 488468,
 'Bochum': 362286,
 'Wuppertal': 342661,
 'Bielefeld': 326870,
 'Gelsenkirchen': 258766,
 'Bonn': 305765,
 'Mönchengladbach': 255188,
 'Münster': 289576,
 'Krefeld': 222247,
 'Aachen': 236420,
 'Oberhausen': 210216,
 'Hagen': 187944,
 'Hamm': 176037,
 'Herne': 155160,
 'Mülheim an der Ruhr': 166865,
 'Solingen': 155265,
 'Leverkusen': 158984,
 'Neuss': 150568,
 'Paderborn': 142365,
 'Recklinghausen': 115958,
 'Remscheid': 110708,
 'Bottrop': 117311,
 'Siegen': 99187,
 'Moers': 104009,
 'Witten': 96382,
 'Bergisch Gladbach': 108878,
 'Mainz': 200344,
 'Ludwigshafen': 157584,
 'Koblenz': 107825,
 'Kaiserslautern': 96340,
 'Trier': 105671,
 'Saarbrücken': 175853,
 'Dresden': 512354,
 'Leipzig': 502979,
 'Chemnitz': 240253,
 'Zwickau': 93081,
 'Magdeburg': 228144,
 'Halle': 229153,
 'Kiel': 235782,
 'Lübeck': 210305,
 'Erfurt': 200868,
 'Gera': 96067,
 'Jena': 105739,
 'Pécs': 156049,
 'Kecskemét': 111411,
 'Békéscsaba': 62050,
 'Miskolc': 167754,
 'Szeged': 168048,
 'Székesfehérvár': 100570,
 'Győr': 129527,
 'Debrecen': 211320,
 'Eger': 56569,
 'Tatabánya': 67753,
 'Kaposvár': 66245,
 'Nyíregyháza': 119746,
 'Szolnok': 72953,
 'Szombathely': 78884,
 'Veszprém': 61721,
 'Zalaegerszeg': 59499,
 'Budapest': 1729040,
 'Novara': 101952,
 'Torino': 872367,
 'Bérgamo': 115349,
 'Bréscia': 189902,
 'Milano': 1242123,
 'Monza': 119856,
 'Bolzano': 102575,
 'Trento': 114198,
 'Pádova': 206192,
 'Verona': 252520,
 'Vicenza': 111500,
 'Venézia': 261362,
 'Trieste': 202123,
 'La Spezia': 92659,
 'Génova': 586180,
 'Bologna': 371337,
 'Ferrara': 132545,
 'Forlí': 116434,
 'Módena': 179149,
 'Parma': 175895,
 'Piacenza': 100311,
 'Ravenna': 153740,
 "Réggio nell'Emilia": 162082,
 'Rímini': 139601,
 'Livorno': 157052,
 'Pisa': 85858,
 'Firenze': 358079,
 'Prato': 185456,
 'Perúgia': 162449,
 'Terni': 109193,
 'Ancona': 100497,
 'Roma': 2617175,
 'Latina': 117892,
 'Pescara': 117166,
 'Salerno': 132608,
 'Nápoli': 962003,
 'Torre del Greco': 85922,
 'Giugliano in Campania': 108793,
 'Bari': 315933,
 'Fóggia': 147036,
 'Lecce': 89916,
 'Andria': 100052,
 'Táranto': 200154,
 'Catanzaro': 89364,
 'Cosenza': 69484,
 'Réggio di Calabria': 180817,
 'Palermo': 657561,
 'Messina': 243262,
 'Catánia': 293902,
 'Siracusa': 118385,
 'Cágliari': 149883,
 'Sássari': 123782,
 'Bratislava': 411228,
 'Banská Bystrica': 80003,
 'Žilina': 81494,
 'Košice': 240433,
 'Prešov': 91782,
 'Nitra': 78916,
 'Trenčín': 55877,
 'Trnava': 66358,
 'Basel': 167386,
 'Bern': 128848,
 'Biel': 53031,
 'Genève': 191557,
 'Luzern': 80501,
 'Sankt Gallen': 74581,
 'Lugano': 62792,
 'Lausanne': 132788,
 'Zürich': 384786,
 'Winterthur': 105676,
 'Vitebsk': 347928,
 'Gomel': 482652,
 'Grodno': 327540,
 'Mogilev': 358279,
 'Bobruysk': 215092,
 'Minsk': 1836808,
 'Wrocław': 631377,
 'Legnica': 102708,
 'Wałbrzych': 119216,
 'Bydgoszcz': 362286,
 'Toruń': 204847,
 'Grudziadz': 98726,
 'Włocławek': 115982,
 'Lublin': 348120,
 'Zielona Góra': 119182,
 'Gorzów Wielkopolski': 124470,
 'Łódź': 722022,
 'Kraków': 759131,
 'Tarnów': 113188,
 'Warszawa': 1711324,
 'Płock': 124048,
 'Radom': 220062,
 'Opole': 122120,
 'Rzeszów': 180776,
 'Białystok': 294675,
 'Gdańsk': 460354,
 'Gdynia': 248574,
 'Katowice': 308269,
 'Jastrzebie Zdroj': 92465,
 'Sosnowiec': 214488,
 'Dąbrowa Górnicza': 125063,
 'Bytom': 175377,
 'Gliwice': 186347,
 'Zabrze': 179861,
 'Tychy': 129087,
 'Ruda Śląska': 142672,
 'Rybnik': 140863,
 'Chorzów': 111314,
 'Częstochowa': 235156,
 'Bielsko-Biała': 174291,
 'Kielce': 201363,
 'Olsztyn': 175482,
 'Elbląg': 123977,
 'Poznań': 552393,
 'Kalisz': 104867,
 'Szczecin': 409211,
 'Koszalin': 109183,
 'Cherkasy': 286163,
 'Chernihiv': 296723,
 'Chernivtsi': 255929,
 'Dnipropetrovs´k': 999577,
 'Kryvyi Rih': 660203,
 'Dniprodzerzhyns´k': 242646,
 'Nikopol´': 120000,
 'Donets´k': 955041,
 'Mariupol´': 464457,
 'Makiïvka': 356118,
 'Horlivka': 258879,
 'Kramators´k': 165469,
 'Ivano-Frankivs´k': 224660,
 'Kharkiv': 1441362,
 'Kherson': 300666,
 'Khmel´nyts´kyi': 263703,
 'Prypjat': 0,
 'Kirovohrad': 234919,
 'Luhans´k': 427187,
 'L´viv': 729842,
 'Mykolaïv': 497032,
 'Odesa': 1008162,
 'Poltava': 297589,
 'Kremenchuk': 226434,
 'Rivne': 250174,
 'Sumy': 269663,
 'Ternopil´': 217300,
 'Vinnytsia': 370814,
 'Luts´k': 213063,
 'Uzhhorod': 116556,
 'Zaporizhzhia': 772627,
 'Melitopol´': 156885,
 'Zhytomyr': 271895,
 'Simferopol´': 335582,
 'Kerch': 145845,
 'Kyïv': 2814258,
 'Bila Tserkva': 210551,
 'Sevastopol´': 340559,
 'Petrozavodsk': 268946,
 'Syktyvkar': 235006,
 'Ukhta': 99591,
 'Vorkuta': 70548,
 'Arkhangelsk': 350985,
 'Severodvinsk': 192353,
 'Vologda': 306487,
 'Cherepovets': 315738,
 'Murmansk': 302468,
 'Kaliningrad': 441376,
 'Sankt Peterburg': 5028000,
 'Velikij Novgorod': 218717,
 'Pskov': 203279,
 'Bryansk': 410837,
 'Vladimir': 347930,
 'Kovrov': 145214,
 'Murom': 116075,
 'Ivanovo': 409075,
 'Kaluga': 331351,
 'Obninsk': 104739,
 'Kostroma': 271445,
 'Moskva': 11979529,
 "Podol'sk": 187961,
 'Železnodorožnyj': 131257,
 'Krasnogorsk': 116896,
 "L'ubercy": 172525,
 'Kolomna': 144589,
 'Mytišči': 173160,
 "Elektrostal'": 155196,
 'Serpuchov': 127041,
 'Balašicha': 215494,
 'Chimki': 207425,
 'Odincovo': 138930,
 'Orechovo-Zujevo': 120670,
 'Noginsk': 100072,
 'Ščëlkovo': 110411,
 'Sergijev Posad': 111179,
 'Korolëv': 183402,
 'Žukovskij': 104736,
 'Puškino': 102874,
 'Orel': 318136,
 'Ryazan': 527905,
 'Smolensk': 330970,
 'Tver': 408877,
 'Tula': 493813,
 'Novomoskovsk': 131386,
 'Yaroslavl': 599169,
 'Rybinsk': 200771,
 'Yoshkar-Ola': 257015,
 'Saransk': 298287,
 'Cheboksary': 464940,
 'Novočeboksarsk': 124097,
 'Kirov': 483176,
 'Nizhnii Novgorod': 1259921,
 'Dzeržinsk': 240742,
 'Arzamas': 106362,
 'Belgorod': 373528,
 'Staryj Oskol': 221085,
 'Voronezh': 1003638,
 'Kursk': 428741,
 'Lipetsk': 509098,
 'Jelec': 108404,
 'Tambov': 281834,
 'Elista': 103749,
 'Kazan': 1176187,
 'Naberezhnye Tchelny': 519025,
 'Nižnekamsk': 234044,
 "Al'metjevsk": 146393,
 'Astrakhan': 527345,
 'Volgograd': 1018790,
 'Volzhsky': 327356,
 'Kamyšin': 119565,
 'Penza': 519900,
 'Samara': 1171598,
 'Tolyatti': 719149,
 "Syzran'": 178750,
 'Novokujbyševsk': 108438,
 'Saratov': 839755,
 'Balakovo': 199690,
 "Ėngel's": 202419,
 'Ulyanovsk': 615306,
 'Dimitrovgrad': 122580,
 'Rostov-na-Donu': 1103733,
 'Batajsk': 111843,
 'Taganrog': 254783,
 'Šachty': 239987,
 'Novočerkassk': 168746,
 'Volgodonsk': 170841,
 'Novošachtinsk': 111075,
 'Ufa': 1077719,
 'Sterlitamak': 275798,
 'Salavat': 156095,
 "Okt'abr'skij": 109474,
 'Izhevsk': 632913,
 'Sarapul': 101381,
 'Orenburg': 556127,
 'Orsk': 239800,
 'Perm': 1013887,
 'Berezniki': 156466,
 'Majkop': 144249,
 'Makhachkala': 576194,
 'Derbent': 119200,
 'Kaspijsk': 100129,
 'Chasavjurt': 131187,
 "Nazran'": 93335,
 "Nal'čik": 240203,
 'Čerkessk': 129069,
 'Vladikavkaz': 308285,
 'Grozny': 277414,
 'Krasnodar': 784048,
 'Sochi': 368011,
 'Novorossiysk': 251013,
 'Armavir': 188832,
 'Stavropol': 412116,
 "P'atigorsk": 142511,
 'Nevinnomyssk': 118360,
 'Kislovodsk': 128553,
 'Jessentuki': 100996,
 'Neftekamsk': 121733,
 'Kurgan': 325565,
 'Yekaterinburg': 1396074,
 'Nizhny Tagil': 358378,
 "Kamensk-Ural'skij": 174689,
 "Pervoural'sk": 124528,
 'Chelyabinsk': 1156201,
 'Magnitogorsk': 411880,
 'Zlatoust': 174962,
 'Miass': 151751,
 'Kopejsk': 137601,
 'Gorno Altaysk': 56933,
 'Barnaul': 629681,
 'Bijsk': 210115,
 'Rubcovsk': 147002,
 'Kemerovo': 540095,
 'Novokuznetsk': 549182,
 'Prokopjevsk': 210130,
 'Novosibirsk': 1523801,
 'Omsk': 1160670,
 'Tomsk': 547989,
 'Seversk': 108590,
 'Tyumen': 634171,
 'Ulan-Ude': 416079,
 'Kyzyl': 109918,
 'Abakan': 165214,
 'Krasnoyarsk': 1016385,
 "Noril'sk": 175365,
 'Ačinsk': 109155,
 'Irkutsk': 606137,
 'Angarsk': 233567,
 'Bratsk': 246319,
 'Chita': 331346,
 'Yakutsk': 286456,
 'Birobidzhan': 75413,
 'Anadyr': 13045,
 'Vladivostok': 600378,
 'Nachodka': 159719,
 'Ussurijsk': 158004,
 'Khabarovsk': 593636,
 'Komsomolsk-na-Amure': 257891,
 'Blagoveščensk': 214390,
 'Petropavlovsk-Kamčatskij': 179780,
 'Magadan': 95982,
 'Okhotsk': 4215,
 'Južno-Sachalinsk': 181728,
 'Khanty Mansijsk': 80151,
 'Surgut': 325511,
 'Nizhnevartovsk': 263228,
 'Neftejugansk': 122855,
 'Salekhard': 42544,
 "Nojabr'sk": 110620,
 'Novyj Urengoj': 104107,
 'Bruxelles': 168576,
 'Schaerbeek': 130587,
 'Molenbeek-Saint-Jean': 94653,
 'Anderlecht': 113462,
 'Antwerpen': 507911,
 'Gent': 248813,
 'Charleroi': 203753,
 'Mons': 93941,
 'Liège': 195931,
 'Hasselt': 75579,
 'Arlon': 28759,
 'Namur': 110500,
 'Brugge': 117577,
 'Leuven': 97692,
 'Groningen': 198023,
 'Leeuwarden': 108145,
 'Enschede': 158494,
 'Zwolle': 123440,
 'Lelystad': 76252,
 'Almere': 196244,
 'Arnhem': 150989,
 'Nijmegen': 168810,
 'Apeldoorn': 157540,
 'Utrecht': 330081,
 'Amersfoort': 151270,
 'Amsterdam': 812895,
 'Haarlem': 155361,
 'Zaanstad': 151058,
 'Hilversum': 86738,
 'Den Haag': 509623,
 'Rotterdam': 619180,
 'Dordrecht': 118780,
 'Leiden': 121387,
 "'s-Hertogenbosch": 143822,
 'Eindhoven': 221279,
 'Tilburg': 210283,
 'Breda': 180263,
 'Maastricht': 122243,
 'Heerlen': 88139,
 'Sittard-Geleen': 93726,
 'Sarajevo': 291422,
 'Tuzla': 120441,
 'Zenica': 115134,
 'Mostar': 113169,
 'Banja Luka': 199191,
 'Bijeljina': 114663,
 'Brčko': 93028,
 'Arad': 159074,
 'Piteşti': 155383,
 'Bacău': 144307,
 'Oradea': 196367,
 'Botoşani': 106847,
 'Brăila': 180302,
 'Braşov': 253200,
 'Bucureşti': 1883425,
 'Buzău': 115494,
 'Cluj-Napoca': 324576,
 'Constanţa': 283872,
 'Craiova': 269506,
 'Galaţi': 249432,
 'Iaşi': 290422,
 'Baia Mare': 123738,
 'Drobeta-Turnu Severin': 92617,
 'Târgu Mureş': 134290,
 'Piatra-Neamţ': 85055,
 'Ploieşti': 209945,
 'Satu Mare': 102411,
 'Sibiu': 147245,
 'Suceava': 92121,
 'Timişoara': 319279,
 'Râmnicu Vâlcea': 98776,
 'Adana': 1636229,
 'Adiyaman': 217463,
 'Afyonkarahisar': 186991,
 'Agri': 107839,
 'Aksaray': 186599,
 'Amasya': 91874,
 'Ankara': 4630735,
 'Antalya': 1073794,
 'Aydin': 195951,
 'Balikesir': 267903,
 'Batman': 348963,
 'Bingol': 98424,
 'Bolu': 131264,
 'Bursa': 1734705,
 'İnegöl': 177617,
 'Canakkale': 111137,
 'Corum': 231146,
 'Denizli': 525497,
 'Diyarbakir': 892713,
 'Edirne': 148474,
 'Elazig': 347857,
 'Erzincan': 96474,
 'Erzurum': 384399,
 'Eskisehir': 659924,
 'Gaziantep': 1438373,
 'Giresun': 100712,
 'Iskenderun': 184833,
 'Hatay': 216960,
 'Mersin': 876958,
 'Tarsus': 245671,
 'Isparta': 198385,
 'Istanbul': 13710512,
 'Izmir': 3401994,
 'Karaman': 141630,
 'Kahramanmaraş': 443575,
 'Kars': 78100,
 'Kastamonu': 96217,
 'Kayseri': 1004276,
 'Kirikkale': 192473,
 'Luleburgaz': 105279,
 'Kirsehir': 114244,
 'Kocaeli': 1527407,
 'Gebze': 290868,
 'Konya': 1107886,
 'Kütahya': 224898,
 'Malatya': 426381,
 'Manisa': 309050,
 'Mardin': 86948,
 'Kızıltepe': 147585,
 'Mus': 81764,
 'Nevsehir': 92068,
 'Nigde': 118186,
 'Ordu': 147913,
 'Rize': 104508,
 'Sakarya': 590498,
 'Samsun': 547778,
 'Şanlıurfa': 526247,
 'Siirt': 135350,
 'Sivas': 312587,
 'Tekirdag': 150112,
 'Çorlu': 235354,
 'Tokat': 132437,
 'Trabzon': 243735,
 'Usak': 187886,
 'Van': 370190,
 'Yozgat': 78328,
 'Zonguldak': 109080,
 'Karabük': 110537,
 'Iğdır': 82656,
 'Yalova': 102874,
 'Kilis': 85119,
 'Duzce': 135557,
 'Osmaniye': 209255,
 'Aalborg': 104885,
 'Århus': 252213,
 'Randers': 61121,
 'Vejle': 51804,
 'Odense': 168798,
 'Esbjerg': 71579,
 'København': 549050,
 'Mariehamn': 10851,
 'Tampere': 220678,
 'Lahti': 103396,
 'Hämeenlinna': 67803,
 'Kuopio': 106475,
 'Lappeenranta': 72617,
 'Kotka': 54714,
 'Rovaniemi': 61244,
 'Mikkeli': 54633,
 'Jyväskylä': 134862,
 'Joensuu': 74332,
 'Oulu': 194181,
 'Pori': 83457,
 'Turku': 182154,
 'Helsinki': 614535,
 'Espoo': 261654,
 'Vaasa': 66415,
 'Oslo': 623966,
 'Sandvika': 116677,
 'Moss': 24517,
 'Hamar': 15685,
 'Lillehammer': 22118,
 'Drammen': 65473,
 'Tonsberg': 8984,
 'Skien': 53015,
 'Arendal': 12174,
 'Kristiansand': 84476,
 'Stavanger': 129191,
 'Bergen': 267950,
 'Hermannsverk': 706,
 'Molde': 21448,
 'Trondheim': 179692,
 'Steinkjer': 20480,
 'Svolvaer': 4500,
 'Narvik': 18754,
 'Bodoe': 34479,
 'Tromsø': 70358,
 'Hammerfest': 7089,
 'Vadsoe': 5961,
 'Göteborg': 526089,
 'Vanersborg': 35804,
 'Mariestad': 24255,
 'Borås': 104867,
 'Karlskrona': 59007,
 'Gävle': 96170,
 'Visby': 20000,
 'Halmstad': 93231,
 'Ostersund': 56662,
 'Jönköping': 129478,
 'Kalmar': 54554,
 'Falun': 51900,
 'Malmö': 307758,
 'Helsingborg': 132011,
 'Kristianstad': 80507,
 'Lund': 112950,
 'Växjö': 84800,
 'Lulea': 66526,
 'Jokkmokk': 6822,
 'Örebro': 138952,
 'Linköping': 148521,
 'Norrköping': 132124,
 'Nykoping': 64199,
 'Eskilstuna': 98765,
 'Stockholm': 881235,
 'Huddinge': 101010,
 'Uppsala': 202625,
 'Karlstad': 86929,
 'Umeå': 117294,
 'Harnosand': 27287,
 'Västerås': 140499,
 'Aveiro': 53496,
 'Braga': 114003,
 'Coimbra': 118016,
 'Leiria': 50608,
 'Lisboa': 559248,
 'Amadora': 89232,
 'Barreiro': 79042,
 'Almada': 49578,
 'Oporto': 266790,
 'Vila Nova de Gaia': 72576,
 'Setúbal': 91108,
 'Ponta Delgada': 46102,
 'Funchal': 112362,
 'Newcastle upon Tyne': 268064,
 'Sunderland': 174286,
 'Gateshead': 120046,
 'Middlesbrough': 174700,
 'Manchester': 109571,
 'Wigan': 103608,
 'Stockport': 105878,
 'Bolton': 194189,
 'Salford': 103886,
 'Oldham': 96555,
 'Rochdale': 107926,
 'Warrington': 165456,
 'Blackpool': 147663,
 'Blackburn': 117963,
 'Liverpool': 552267,
 'Birkenhead': 142968,
 'St Helens': 102885,
 'Preston': 97886,
 'Leeds': 474632,
 'Wakefield': 99251,
 'Bradford': 349561,
 'Huddersfield': 162949,
 'Sheffield': 518090,
 'Doncaster': 109805,
 'Rotherham': 109691,
 'York': 152841,
 'Kingston upon Hull': 284321,
 'Nottingham': 289301,
 'Northampton': 215173,
 'Leicester': 443760,
 'Derby': 255394,
 'Lincoln': 258468,
 'Birmingham': 212193,
 'Coventry': 325949,
 'Wolverhampton': 210319,
 'Solihull': 123187,
 'Stoke-on-Trent': 270726,
 'Worcester': 181041,
 'Sutton Coldfield': 109015,
 'Telford': 142723,
 'Cambridge': 145818,
 'Peterborough': 161707,
 'Ipswich': 144957,
 'Chelmsford': 110507,
 'Watford': 131982,
 'Southend-on-Sea': 175547,
 'Basildon': 107123,
 'Colchester': 119441,
 'Norwich': 186682,
 'Luton': 211228,
 'London': 366151,
 'Southampton': 253651,
 'Portsmouth': 238137,
 'Basingstoke': 107355,
 'Milton Keynes': 171750,
 'High Wycombe': 120256,
 'Brighton and Hove': 229700,
 'Maidstone': 107627,
 'Oxford': 159994,
 'Reading': 218705,
 'Slough': 155298,
 'Eastbourne': 109185,
 'Gillingham': 104157,
 'Crawley': 106943,
 'Worthing': 109120,
 'Woking': 105367,
 'Bristol': 535907,
 'Plymouth': 234982,
 'Exeter': 113507,
 'Bournemouth': 187503,
 'Poole': 154718,
 'Cheltenham': 116447,
 'Gloucester': 136362,
 'Swindon': 182441,
 'Edinburgh': 459366,
 'Glasgow': 590507,
 'Aberdeen': 195021,
 'Dundee': 147285,
 'Kirkwall': 6330,
 'Lerwick': 6570,
 'Cardiff': 335145,
 'Swansea': 179485,
 'Newport': 128060,
 'Belfast': 280561,
 'Hefei': 3310268,
 'Huainan': 1200000,
 'Bengbu': 449245,
 'Wuhu': 425740,
 'Huaibei': 366549,
 'Maanshan': 305421,
 'Anqing': 250718,
 'Tongling': 228017,
 'Fuyang': 179572,
 'Luan': 144248,
 'Chuxian': 125341,
 'Chaoxian': 123676,
 'Xuancheng': 112673,
 'Fuzhou': 3572421,
 'Xiamen': 3531347,
 'Nanping': 195064,
 'Quanzhou': 185154,
 'Zhangzhou': 181424,
 'Sanming': 160691,
 'Longyan': 134481,
 'Yongan': 111762,
 'Lanzhou': 2628426,
 'Tianshui': 244974,
 'Baiyin': 204970,
 'Wuwei': 133101,
 'Yumen': 109234,
 'Guangzhou': 11071424,
 'Shantou': 5329024,
 'Zhanjiang': 400997,
 'Shenzhen': 10358381,
 'Shaoguan': 350043,
 'Chaozhou': 313469,
 'Dongguan': 8220207,
 'Foshan': 7194311,
 'Zhongshan': 3121275,
 'Jiangmen': 230587,
 'Yangjiang': 215196,
 'Zhaoqing': 194784,
 'Maoming': 178683,
 'Zhuhai': 164747,
 'Huizhou': 2344634,
 'Meixian': 132156,
 'Heyuan': 120101,
 'Shanwei': 107847,
 'Guiyang': 3034750,
 'Liupanshui': 363954,
 'Zunyi': 261862,
 'Anshun': 174142,
 'Duyun': 132971,
 'Kaili': 113958,
 'Haikou': 280153,
 'Sanya': 102820,
 'Shijiazhuang': 2834942,
 'Tangshan': 3372102,
 'Handan': 1110000,
 'Zhangjiakou': 529136,
 'Baoding': 483155,
 'Qinhuangdao': 364972,
 'Xingtai': 302789,
 'Chengde': 246799,
 'Renqiu': 114256,
 'Quzhou': 112373,
 'Hengshui': 104269,

In [190]:
# Create DataFrame 'cpdf' from dictionary 'provdict'
cpdf = pd.DataFrame(list(provdict.items()), columns=['City', 'Population'])

In [191]:
#Create a dictionary 'dict'
dict = {}
for city in document.findall("./country/city"):
    # Retreive all the names of the cities, and thier respective population figures
    name = city.find('name')
    pop = city.findall('population')
    if pop:
        # To retrieve the most recent year's population
        dict[name.text] = int(pop[len(pop)-1].text)

In [192]:
dict

{'Abomey-Calavi': 307745,
 'Abu Dhabi': 552000,
 'Aden': 570551,
 'Akureyri': 17490,
 'Al Ain': 348000,
 'Al Fashir': 141884,
 'Al Fayyum': 316772,
 'Al Gazira': 211362,
 'Al Gedaref': 191164,
 'Al Iskandariyah': 4123869,
 "Al Isma'iliyah": 300449,
 'Al Jizah': 2681863,
 'Al Mahallah al Kubra': 442884,
 'Al Mansurah': 437311,
 'Al Manāmah': 143035,
 'Al Minya': 235234,
 'Al Qahirah': 8471859,
 'Al Rayyan': 272860,
 'Al Sharjah': 519000,
 'Al Ubayyiḑ': 229425,
 'Al Uqsur': 451318,
 'Algiers': 2364230,
 'Amman': 1812941,
 'Andorra la Vella': 22256,
 'Anju': 240117,
 'Annaba': 342703,
 'Ansan': 722598,
 'Antananarivo': 710236,
 'Antsirabe': 126062,
 'Antsiranana': 59040,
 'Anyang': 603184,
 'Apia': 36735,
 'Apopa': 143718,
 'As Seeb': 302992,
 'As Suways': 510935,
 'Asmara': 380568,
 'Asunción': 518792,
 'Aswan': 265004,
 'Asyut': 386086,
 'Auckland': 419418,
 'Az Zaqaziq': 302611,
 'Baku': 2150800,
 'Bandar Seri Begawan': 279924,
 'Bangkok': 7506700,
 'Bangui': 622771,
 'Banha': 158389,
 'Bani Suwayf': 193535,
 'Banjul': 357238,
 'Basseterre': 15500,
 'Batna': 289504,
 'Batumi': 121806,
 'Bayamón': 185996,
 'Bayrūt': 1100000,
 'Bejaïa': 176139,
 'Belize City': 53532,
 'Belmopan': 13654,
 'Benghazi': 800000,
 'Beograd': 1639121,
 'Bien Hoa': 652646,
 'Bimbo': 124176,
 'Biratnagar': 204949,
 'Bishkek': 901700,
 'Biskra': 204661,
 'Blantyre': 661256,
 'Blida': 331779,
 'Bo': 149957,
 'Bobo Dioulasso': 489967,
 'Bridgetown': 88529,
 'Bucheon': 847841,
 'Bujumbura': 497166,
 'Bulawayo': 653337,
 'Buon Ma Thuot': 211891,
 "Bur Sa'id": 570768,
 'Burgas': 197301,
 'Busan': 3403135,
 'Béchar': 165241,
 'Bălţi': 143300,
 'Cam Pha': 168196,
 'Can Tho': 783122,
 'Cap-Haïtien': 155505,
 'Carolina': 157832,
 'Carrefour': 430250,
 'Castries': 3661,
 'Cayenne': 57229,
 'Ceuta': 82376,
 'Changhua': 236636,
 'Changwon': 1062731,
 'Charlotte Amalie': 10354,
 'Cheongju': 667726,
 'Chiang Mai': 160200,
 'Chiayi': 271220,
 'Chinandega': 133361,
 'Chitungwiza': 356840,
 'Chişinău': 663400,
 'Chon Buri': 233200,
 'Chongjin': 667929,
 'Christchurch': 361941,
 'Chuncheon': 273737,
 'Cité Soleil': 241055,
 'Ciudad Delgado': 129965,
 'Ciudad de Guatemala': 992541,
 'Ciudad del Este': 222274,
 'Cobán': 232703,
 'Colombo': 647100,
 'Conakry': 1667864,
 'Constantine': 448028,
 'Cork': 118912,
 'Cotonou': 665100,
 'Cuenca': 331888,
 'Da Nang': 770911,
 'Daegu': 2444085,
 'Daejeon': 1495453,
 'Damanhur': 241895,
 'Delmas': 359451,
 'Dili': 193563,
 'Djibouti': 475322,
 'Djougou': 181895,
 'Doha': 339847,
 'Dubai': 1171000,
 'Dublin': 525383,
 'Dunedin': 123516,
 'Durrës': 113249,
 'El Aaiun': 183691,
 'El Djelfa': 265833,
 'Elbasan': 78703,
 'Eldoret': 289380,
 'Estelí': 122924,
 'Fakaofo': 490,
 'Fianarantsoa': 109260,
 'Fort-de-France': 100000,
 'Franceville': 103840,
 'Francistown': 100079,
 'Freetown': 772873,
 'Funafuti': 4492,
 'Gaborone': 227333,
 'Galway': 75414,
 'Ganja': 322600,
 'Gaza': 449477,
 'Georgetown': 118363,
 'Ghardaïa': 142913,
 'Gonaïves': 228725,
 'Goyang': 897174,
 'Granada': 123697,
 'Guayaquil': 2291158,
 'Gunsan': 256755,
 'Gustavia': 2299,
 'Gwangju': 1469293,
 'Ha Long': 201990,
 'Haeju': 273300,
 'Hafnarfjordur': 26099,
 'Haiphong': 846191,
 'Hamhung-Hungnam': 768551,
 'Hamilton': 132060,
 'Hanoi': 2644536,
 'Harare': 1485231,
 'Hebron': 163146,
 'Herat': 335200,
 'Ho Chi Minh': 5968384,
 'Hong Kong': 7055071,
 'Honiara': 49107,
 'Hsinchu': 425071,
 'Hualien': 108077,
 'Hue': 302983,
 'Huichon': 168180,
 'Incheon': 2637652,
 'Irbid': 250645,
 'Jeju': 399416,
 'Jeonju': 643079,
 'Jhongli': 376217,
 'Jinju': 337230,
 'Jinotega': 123548,
 'Juba': 372410,
 'Kabul': 2435400,
 'Kaechon': 319554,
 'Kaesong': 308440,
 'Kafr ad Dawwar': 262748,
 'Kampala': 1516210,
 'Kandahar': 311800,
 'Kanggye': 251971,
 'Kaohsiung': 2778659,
 'Kassala': 234622,
 'Kathmandu': 1003285,
 'Kaunas': 307498,
 'Keelung': 377153,
 'Keflavik': 13862,
 'Khartoum': 947483,
 'Khartoum North': 700887,
 'Khon Kaen': 223300,
 'Kigali': 603049,
 'Kim Chaek': 207299,
 'Kingston': 662426,
 'Kingstown': 12909,
 'Kisumu': 388311,
 'Klaipeda': 158891,
 'Kolonia': 5681,
 'Koror': 11665,
 'Korçë': 51152,
 'Kumanovo': 107745,
 'Kusong': 196515,
 'Kutaisi': 185965,
 'Kuwait': 637411,
 'Laghouat': 134372,
 'Lalitpur': 226728,
 'Larnaka': 51468,
 'Lefkosia': 55014,
 'Lemesos': 101000,
 'León': 201100,
 'Libreville': 538195,
 'Lilongwe': 674448,
 'Limerick': 56779,
 'Ljubljana': 282994,
 'Lomé': 839566,
 'Long Xuyen': 245699,
 'Luxembourg': 99852,
 'Machakos': 150041,
 'Majunga': 106780,
 'Majuro': 27797,
 'Male': 133019,
 'Malindi': 118265,
 'Managua': 1028808,
 'Maribor': 111374,
 'Marigot': 5700,
 'Masaya': 166588,
 'Maseru': 227880,
 'Matagalpa': 150643,
 'Mazar-i-Sharif': 288700,
 'Mbabane': 57992,
 'Mbarara': 195013,
 'Mejicanos': 157188,
 'Melekeok': 391,
 'Melilla': 78476,
 'Misratah': 360000,
 'Mixco': 483705,
 'Mokpo': 244543,
 'Mombasa': 938131,
 'Monaco': 975,
 'Monrovia': 1010970,
 'Montevideo': 1318755,
 'Moroni': 41557,
 'Mostaganem': 162885,
 'Mukono': 161996,
 'Muscat': 27216,
 "N'Djamena": 951418,
 "N'Zérékoré": 194178,
 'Nablus': 126132,
 'Nairobi': 3133518,
 'Nakhon Ratchasima': 254900,
 'Nakhon Sawan': 142500,
 'Nakhon Si Thammarat': 167400,
 'Nakuru': 307990,
 'Nam Dinh': 193768,
 'Nampho': 366815,
 'Nassau': 248948,
 'New Taipei': 3939305,
 'Nha Trang': 292693,
 'Niš': 257867,
 'Nonthaburi': 481900,
 'Novi Sad': 335701,
 'Nukualofa': 23658,
 'Nyala': 227183,
 'Omdurman': 1271403,
 'Oran': 803329,
 'Osh': 265200,
 'Osijek': 83496,
 'Ouagadougou': 1475223,
 'Palikir': 6444,
 'Paramaribo': 240924,
 'Philipsburg': 1338,
 'Phnom Penh': 703963,
 'Phuket': 75573,
 'Pingtung': 207862,
 'Plovdiv': 331796,
 'Plymouth': 0,
 'Podgorica': 150977,
 'Pokhara': 264991,
 'Ponce': 132502,
 'Port Moresby': 318128,
 'Port Sudan': 308195,
 'Port Vila': 44040,
 'Port-Gentil': 105712,
 'Port-au-Prince': 875978,
 'Port-of-Spain': 548299,
 'Porto-Novo': 223552,
 'Praia': 131719,
 'Prishtine': 198214,
 'Pyongyang': 3255288,
 'Pétion-Ville': 271175,
 'Qina': 206831,
 'Qui Nhon': 255463,
 'Quito': 1619146,
 'Rach Gia': 210784,
 'Reykjavik': 118061,
 'Rijeka': 127498,
 'Roseau': 14725,
 'Ruse': 146609,
 'Rīga': 696618,
 "Saint George's": 37000,
 'Saint Johns': 22219,
 'Saint-Denis': 145347,
 'Saint-Pierre': 5618,
 'Salto': 104011,
 'Samut Prakan': 277600,
 'San Juan': 381931,
 'San Marino': 4227,
 'San Miguel': 218410,
 'San Salvador': 354174,
 "Sana'a": 1527861,
 'Santa Ana': 245421,
 'Santa Tecla': 126353,
 'Santiago': 591985,
 'Santo Domingo': 2749703,
 'Santo Domingo de los Colorados': 305632,
 'Saraburi': 125300,
 'Sariwon': 307764,
 'Seongnam': 951424,
 'Seoul': 9708483,
 'Sfax': 299235,
 'Shibin al Kum': 177060,
 'Shkodër': 77075,
 'Shubra al Khimah': 1016722,
 'Sidi Bel Abbës': 210146,
 'Singapore': 5076700,
 'Sinpho': 152759,
 'Sinuiju': 359341,
 'Skikda': 182903,
 'Skopje': 514967,
 'Sofia': 1270284,
 'Sokhumi': 62914,
 'Songkhla': 294200,
 'Sousse': 223844,
 'Soyapango': 268228,
 'Split': 165893,
 'Sri Jayawardhanapura Kotte': 116366,
 'Stara Zagora': 136363,
 'Suhaj': 189638,
 'Sumgayit': 290500,
 'Sunchon': 297317,
 'Suva': 75225,
 'Suwon': 1064951,
 'São Tomé': 49957,
 'Sétif': 252127,
 "Ta'izz": 458933,
 'Taichung': 2684893,
 'Tainan': 1881645,
 'Taipei': 2673226,
 'Taitung': 107720,
 'Tallinn': 399340,
 'Tamanrasset': 92635,
 'Tamatave': 137782,
 'Tanchon': 345875,
 'Tanta': 421076,
 'Taoyuan': 413488,
 'Tarawa': 50182,
 'Tartu': 103284,
 'Tbilisi': 1073345,
 'Thai Nguyen': 199732,
 'Thimphu': 42465,
 'Tipitapa': 130627,
 'Tirana': 418495,
 'Tiraspol': 148917,
 'Tlemcen': 173531,
 'Tokchon': 237133,
 'Toliara': 80826,
 'Tougourt': 143270,
 'Tripoli': 1500000,
 'Tunis': 651284,
 'Tébessa': 194461,
 'Tórshavn': 12245,
 'Ubon Ratchathani': 149700,
 'Ulaanbaatar': 760077,
 'Ulsan': 1081985,
 'Vaduz': 5241,
 'Valletta': 5748,
 'Varna': 330486,
 'Vatican City': 842,
 'Victoria': 24970,
 'Vientiane': 698318,
 'Villa Nueva': 527174,
 'Vilnius': 538747,
 'Vinh': 215577,
 'Vlorë': 79513,
 'Vung Tau': 282415,
 'Wellington': 185187,
 'Willemstad': 125000,
 'Windhoek': 322500,
 'Wonsan': 363127,
 'Yeosu': 267921,
 'Yerevan': 1066264,
 'Yongin': 852505,
 'Zadar': 70674,
 'Zagreb': 686568,
 'Zarqa': 395227,
 'al Hudaydah': 402560}

In [193]:
cpdf1 = pd.DataFrame(list(dict.items()), columns=['City', 'Population'])

In [194]:
cpdf.append(cpdf1)

                 City  Population
0              Kavala       58790
1              Athina      664046
2            Peiraias      163688
3           Peristeri      139981
4            Acharnes      106943
5               Patra      213984
6             Kerkyra      102071
7            Ioannina      112486
8        Thessaloniki      325182
9             Iraklio      173993
10             Chania      108642
11             Rhodes      115490
12              Lamia       75315
13           Chalkida      102223
14            Larissa      162591
15              Volos      144449
16             Karyes         233
17         Strasbourg      272222
18           Mulhouse      110351
19           Bordeaux      239399
20   Clermont-Ferrand      140957
21               Caen      108793
22             Rennes      208033
23              Brest      309764
24              Dijon      151672
25            Orléans      114185
26              Tours      134633
27              Reims      180752
28            Ajaccio       66245
29           Besançon      115879
..                ...         ...
363        N'Zérékoré      194178
364          Monrovia     1010970
365          Djibouti      475322
366            Asmara      380568
367           Mombasa      938131
368           Malindi      118265
369          Machakos      150041
370           Nairobi     3133518
371            Kisumu      388311
372            Nakuru      307990
373           Eldoret      289380
374            Banjul      357238
375          Freetown      772873
376                Bo      149957
377           Kampala     1516210
378           Mbarara      195013
379            Mukono      161996
380            Maseru      227880
381       Antsiranana       59040
382      Antananarivo      710236
383         Antsirabe      126062
384      Fianarantsoa      109260
385           Majunga      106780
386          Tamatave      137782
387           Toliara       80826
388          Lilongwe      674448
389          Blantyre      661256
390           Mbabane       57992
391       Saint-Denis      145347
392          São Tomé       49957

[3010 rows x 2 columns]

In [195]:
cpdf.sort_values('Population', ascending=False).head(10)

           City  Population
1189   Shanghai    22315474
673    Istanbul    13710512
1350     Mumbai    12442373
421      Moskva    11979529
1188    Beijing    11716620
2269  São Paulo    11152344
1190    Tianjin    11090314
915   Guangzhou    11071424
1396      Delhi    11034555
918    Shenzhen    10358381

# 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [244]:
c_p = {}
for e in document.iter('country'):
    cntry = e.find('name')
    pop = e.find('.//population[last()]')
    if cntry != None:
        if pop != None:
            c_p[cntry.text] = int(pop.text)

In [245]:
c_p

{'Afghanistan': 26023100,
 'Albania': 2800138,
 'Algeria': 37062820,
 'American Samoa': 55519,
 'Andorra': 78115,
 'Angola': 24383301,
 'Anguilla': 13037,
 'Antigua and Barbuda': 81799,
 'Argentina': 42669500,
 'Armenia': 3026879,
 'Aruba': 101484,
 'Australia': 23135281,
 'Austria': 8499759,
 'Azerbaijan': 9356500,
 'Bahamas': 353658,
 'Bahrain': 1234596,
 'Bangladesh': 149772364,
 'Barbados': 277821,
 'Belarus': 9460692,
 'Belgium': 11099554,
 'Belize': 312971,
 'Benin': 9983884,
 'Bermuda': 64237,
 'Bhutan': 733004,
 'Bolivia': 10027262,
 'Bosnia and Herzegovina': 3791622,
 'Botswana': 2038228,
 'Brazil': 202768562,
 'British Virgin Islands': 23161,
 'Brunei': 393372,
 'Bulgaria': 7284552,
 'Burkina Faso': 17322796,
 'Burundi': 8444784,
 'Cambodia': 14364931,
 'Cameroon': 19406100,
 'Canada': 35158304,
 'Cape Verde': 491875,
 'Cayman Islands': 55691,
 'Central African Republic': 4349921,
 'Ceuta': 82376,
 'Chad': 11720781,
 'Chile': 16341929,
 'China': 1360720000,
 'Christmas Island': 2072,
 'Cocos Islands': 596,
 'Colombia': 47661787,
 'Comoros': 683081,
 'Congo': 4001831,
 'Cook Islands': 17794,
 'Costa Rica': 4773119,
 'Cote dIvoire': 22671331,
 'Croatia': 4290612,
 'Cuba': 11167325,
 'Curacao': 150563,
 'Cyprus': 840407,
 'Czech Republic': 10562214,
 'Denmark': 5580516,
 'Djibouti': 834036,
 'Dominica': 70739,
 'Dominican Republic': 9445281,
 'Ecuador': 14483499,
 'Egypt': 83667047,
 'El Salvador': 6290420,
 'Equatorial Guinea': 696167,
 'Eritrea': 5741159,
 'Estonia': 1294455,
 'Ethiopia': 84320987,
 'Falkland Islands': 2931,
 'Faroe Islands': 48197,
 'Fiji': 860559,
 'Finland': 5455068,
 'France': 64933400,
 'French Guiana': 237549,
 'French Polynesia': 268270,
 'Gabon': 1556222,
 'Gambia': 1882450,
 'Gaza Strip': 1760037,
 'Georgia': 4483800,
 'Germany': 80219695,
 'Ghana': 24658823,
 'Gibraltar': 27495,
 'Greece': 10816286,
 'Greenland': 56370,
 'Grenada': 103328,
 'Guadeloupe': 404635,
 'Guam': 159358,
 'Guatemala': 15073375,
 'Guernsey': 59807,
 'Guinea': 10628972,
 'Guinea-Bissau': 1586624,
 'Guyana': 747884,
 'Haiti': 9896400,
 'Holy See': 842,
 'Honduras': 8045990,
 'Hong Kong': 7071576,
 'Hungary': 9937628,
 'Iceland': 318452,
 'India': 1210854977,
 'Indonesia': 252124458,
 'Iran': 75149669,
 'Iraq': 33330512,
 'Ireland': 4588252,
 'Isle of Man': 84497,
 'Israel': 7420368,
 'Italy': 59433744,
 'Jamaica': 2697983,
 'Japan': 127298000,
 'Jersey': 97857,
 'Jordan': 6249000,
 'Kazakhstan': 17165239,
 'Kenya': 40909194,
 'Kiribati': 103058,
 'Kosovo': 1733872,
 'Kuwait': 2991580,
 'Kyrgyzstan': 5776600,
 'Laos': 6514432,
 'Latvia': 2201196,
 'Lebanon': 4341092,
 'Lesotho': 2008921,
 'Liberia': 3957990,
 'Libya': 6040612,
 'Liechtenstein': 36636,
 'Lithuania': 2979310,
 'Luxembourg': 524853,
 'Macao': 552503,
 'Macedonia': 2059794,
 'Madagascar': 21842167,
 'Malawi': 15013694,
 'Malaysia': 27565821,
 'Maldives': 341256,
 'Mali': 13985961,
 'Malta': 417432,
 'Marshall Islands': 53158,
 'Martinique': 392291,
 'Mauritania': 3537368,
 'Mauritius': 1237091,
 'Mayotte': 212645,
 'Melilla': 78476,
 'Mexico': 112336538,
 'Micronesia': 102843,
 'Moldova': 3559541,
 'Monaco': 36845,
 'Mongolia': 2754685,
 'Montenegro': 620029,
 'Montserrat': 4922,
 'Morocco': 32901622,
 'Mozambique': 23700715,
 'Myanmar': 51419420,
 'Namibia': 2113077,
 'Nauru': 10025,
 'Nepal': 26494504,
 'Netherlands': 16843181,
 'New Caledonia': 245580,
 'New Zealand': 4242048,
 'Nicaragua': 6071045,
 'Niger': 17138707,
 'Nigeria': 164294516,
 'Niue': 1611,
 'Norfolk Island': 2169,
 'North Korea': 24500520,
 'Northern Mariana Islands': 53883,
 'Norway': 5051275,
 'Oman': 3623001,
 'Pakistan': 173149306,
 'Palau': 17501,
 'Panama': 3405813,
 'Papua New Guinea': 7275324,
 'Paraguay': 6672631,
 'Peru': 30135875,
 'Philippines': 92337852,
 'Pitcairn': 66,
 'Poland': 38533789,
 'Portugal': 10561614,
 'Puerto Rico': 3725789,
 'Qatar': 1699435,
 'Reunion': 828581,
 'Romania': 20121641,
 'Russia': 143666931,
 'Rwanda': 10515973,
 'Saint Barthelemy': 9072,
 'Saint Helena': 5663,
 'Saint Kitts and Nevis': 52352,
 'Saint Lucia': 165595,
 'Saint Martin': 37630,
 'Saint Pierre and Miquelon': 6312,
 'Saint Vincent and the Grenadines': 109991,
 'Samoa': 187820,
 'San Marino': 32440,
 'Sao Tome and Principe': 187356,
 'Saudi Arabia': 27136977,
 'Senegal': 13508715,
 'Serbia': 7120666,
 'Seychelles': 90945,
 'Sierra Leone': 5751976,
 'Singapore': 5076700,
 'Sint Maarten': 37429,
 'Slovakia': 5397036,
 'Slovenia': 2058821,
 'Solomon Islands': 526447,
 'Somalia': 9636173,
 'South Africa': 51770560,
 'South Korea': 51141463,
 'South Sudan': 8260490,
 'Spain': 46815916,
 'Sri Lanka': 20263723,
 'Sudan': 35652002,
 'Suriname': 541638,
 'Svalbard': 1872,
 'Swaziland': 1193148,
 'Sweden': 9555893,
 'Switzerland': 8139631,
 'Syria': 20866000,
 'Taiwan': 23315822,
 'Tajikistan': 8161100,
 'Tanzania': 44928923,
 'Thailand': 65981659,
 'Timor-Leste': 1066582,
 'Togo': 6191155,
 'Tokelau': 1383,
 'Tonga': 103252,
 'Trinidad and Tobago': 1328019,
 'Tunisia': 10982754,
 'Turkey': 75627384,
 'Turkmenistan': 5041995,
 'Turks and Caicos Islands': 31458,
 'Tuvalu': 9827,
 'Uganda': 34856813,
 'Ukraine': 45633637,
 'United Arab Emirates': 8441537,
 'United Kingdom': 64105654,
 'United States': 318857056,
 'Uruguay': 3286314,
 'Uzbekistan': 27769270,
 'Vanuatu': 236299,
 'Venezuela': 28946101,
 'Vietnam': 88772900,
 'Virgin Islands': 106405,
 'Wallis and Futuna': 12197,
 'West Bank': 2790331,
 'Western Sahara': 554795,
 'Yemen': 24527000,
 'Zaire': 62191161,
 'Zambia': 13046508,
 'Zimbabwe': 13061239}

In [240]:
co_etg = []
for el in document.iterfind('country'):
    co = el.find('name').text
    for et in el.iterfind('ethnicgroup'):
        etg_name = et.text
        etg_prcnt = et.attrib['percentage']

In [234]:
co_etg.append([co,etg_name,etg_prcnt])

In [235]:
co_etg

[['Seychelles', 'Seychellois', '100']]